<!--
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-iconset-svg/core-iconset-svg.html">
<core-iconset-svg id="device" iconSize="24">
    <svg>
        <defs>
            <g id="access-alarm">
                <path d="M22 5.72l-4.6-3.86-1.29 1.53 4.6 3.86 1.29-1.53zm-14.12-2.33l-1.28-1.53-4.6 3.85 1.29 1.53 4.59-3.85zm4.62 4.61h-1.5v6l4.75 2.85.75-1.23-4-2.37v-5.25zm-.5-4c-4.97 0-9 4.03-9 9s4.02 9 9 9c4.97 0 9-4.03 9-9s-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
            </g>
            <g id="access-alarms">
                <path d="M22 5.7l-4.6-3.9-1.3 1.5 4.6 3.9 1.3-1.5zm-14.1-2.3l-1.3-1.5-4.6 3.8 1.3 1.5 4.6-3.8zm4.6 4.6h-1.5v6l4.7 2.9.8-1.2-4-2.4v-5.3zm-.5-4c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm0 16c-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7-3.1 7-7 7z"/>
            </g>
            <g id="access-time">
                <path fill-opacity=".9"
                      d="M11.99 2c-5.52 0-9.99 4.48-9.99 10s4.47 10 9.99 10c5.53 0 10.01-4.48 10.01-10s-4.48-10-10.01-10zm.01 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                <path fill-opacity=".9" d="M12.5 7h-1.5v6l5.25 3.15.75-1.23-4.5-2.67z"/>
            </g>
            <g id="add-alarm">
                <path d="M7.88 3.39l-1.28-1.53-4.6 3.85 1.29 1.53 4.59-3.85zm14.12 2.33l-4.6-3.86-1.29 1.53 4.6 3.86 1.29-1.53zm-10-1.72c-4.97 0-9 4.03-9 9s4.02 9 9 9c4.97 0 9-4.03 9-9s-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7zm1-11h-2v3h-3v2h3v3h2v-3h3v-2h-3v-3z"/>
            </g>
            <g id="airplanemode-off">
                <path d="M13 9v-5.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v3.68l7.83 7.83 3.17.99v-2l-8-5zm-10-3.73l4.99 4.99-5.99 3.74v2l8-2.5v5.5l-2 1.5v1.5l3.5-1 3.5 1v-1.5l-2-1.5v-3.73l5.73 5.73 1.27-1.27-15.73-15.73-1.27 1.27z"/>
            </g>
            <g id="airplanemode-on">
                <path d="M10.18 9"/>
                <path d="M21 16v-2l-8-5v-5.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v5.5l-8 5v2l8-2.5v5.5l-2 1.5v1.5l3.5-1 3.5 1v-1.5l-2-1.5v-5.5l8 2.5z"/>
            </g>
            <g id="battery-20">
                <path d="M7 17v3.67c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-3.67h-10z"/>
                <path fill-opacity=".3"
                      d="M17 5.33c0-.73-.6-1.33-1.33-1.33h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v11.67h10v-11.67z"/>
            </g>
            <g id="battery-30">
                <path fill-opacity=".3"
                      d="M17 5.33c0-.73-.6-1.33-1.33-1.33h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v9.67h10v-9.67z"/>
                <path d="M7 15v5.67c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-5.67h-10z"/>
            </g>
            <g id="battery-50">
                <path fill-opacity=".3"
                      d="M17 5.33c0-.73-.6-1.33-1.33-1.33h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v7.67h10v-7.67z"/>
                <path d="M7 13v7.67c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-7.67h-10z"/>
            </g>
            <g id="battery-60">
                <path fill-opacity=".3"
                      d="M17 5.33c0-.73-.6-1.33-1.33-1.33h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v5.67h10v-5.67z"/>
                <path d="M7 11v9.67c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-9.67h-10z"/>
            </g>
            <g id="battery-80">
                <path fill-opacity=".3"
                      d="M17 5.33c0-.73-.6-1.33-1.33-1.33h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v3.67h10v-3.67z"/>
                <path d="M7 9v11.67c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-11.67h-10z"/>
            </g>
            <g id="battery-90">
                <path fill-opacity=".3"
                      d="M17 5.33c0-.73-.6-1.33-1.33-1.33h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v2.67h10v-2.67z"/>
                <path d="M7 8v12.67c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-12.67h-10z"/>
            </g>
            <g id="battery-alert">
                <path d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v15.33c0 .74.6 1.34 1.33 1.34h7.33c.74 0 1.34-.6 1.34-1.33v-15.34c0-.73-.6-1.33-1.33-1.33zm-2.67 14h-2v-2h2v2zm0-4h-2v-5h2v5z"/>
            </g>
            <g id="battery-charging-20">
                <path d="M11 20v-3h-4v3.67c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-3.67h-4.4l-1.6 3z"/>
                <path fill-opacity=".3"
                      d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v11.67h4v-2.5h-2l4-7.5v5.5h2l-2.4 4.5h4.4v-11.67c0-.73-.6-1.33-1.33-1.33z"/>
            </g>
            <g id="battery-charging-30">
                <path fill-opacity=".3"
                      d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v9.17h2l4-7.5v5.5h2l-1.07 2h3.07v-9.17c0-.73-.6-1.33-1.33-1.33z"/>
                <path d="M11 20v-5.5h-4v6.17c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-6.17h-3.07l-2.93 5.5z"/>
            </g>
            <g id="battery-charging-50">
                <path d="M14.47 13.5l-3.47 6.5v-5.5h-2l.53-1h-2.53v7.17c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-7.17h-2.53z"/>
                <path fill-opacity=".3"
                      d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v8.17h2.53l3.47-6.5v5.5h2l-.53 1h2.53v-8.17c0-.73-.6-1.33-1.33-1.33z"/>
            </g>
            <g id="battery-charging-60">
                <path fill-opacity=".3"
                      d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v5.67h3.87l2.13-4v4h4v-5.67c0-.73-.6-1.33-1.33-1.33z"/>
                <path d="M13 12.5h2l-4 7.5v-5.5h-2l1.87-3.5h-3.87v9.67c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-9.67h-4v1.5z"/>
            </g>
            <g id="battery-charging-80">
                <path fill-opacity=".3"
                      d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v3.67h4.93l1.07-2v2h4v-3.67c0-.73-.6-1.33-1.33-1.33z"/>
                <path d="M13 12.5h2l-4 7.5v-5.5h-2l2.93-5.5h-4.93v11.67c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-11.67h-4v3.5z"/>
            </g>
            <g id="battery-charging-90">
                <path fill-opacity=".3"
                      d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v2.67h5.47l.53-1v1h4v-2.67c0-.73-.6-1.33-1.33-1.33z"/>
                <path d="M13 12.5h2l-4 7.5v-5.5h-2l3.47-6.5h-5.47v12.67c0 .73.6 1.33 1.33 1.33h7.33c.74 0 1.34-.6 1.34-1.33v-12.67h-4v4.5z"/>
            </g>
            <g id="battery-charging-full">
                <path d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v15.33c0 .74.6 1.34 1.33 1.34h7.33c.74 0 1.34-.6 1.34-1.33v-15.34c0-.73-.6-1.33-1.33-1.33zm-4.67 16v-5.5h-2l4-7.5v5.5h2l-4 7.5z"/>
            </g>
            <g id="battery-full">
                <path d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v15.33c0 .74.6 1.34 1.33 1.34h7.33c.74 0 1.34-.6 1.34-1.33v-15.34c0-.73-.6-1.33-1.33-1.33z"/>
            </g>
            <g id="battery-std">
                <path d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v15.33c0 .74.6 1.34 1.33 1.34h7.33c.74 0 1.34-.6 1.34-1.33v-15.34c0-.73-.6-1.33-1.33-1.33z"/>
            </g>
            <g id="battery-unknown">
                <path d="M15.67 4h-1.67v-2h-4v2h-1.67c-.73 0-1.33.6-1.33 1.33v15.33c0 .74.6 1.34 1.33 1.34h7.33c.74 0 1.34-.6 1.34-1.33v-15.34c0-.73-.6-1.33-1.33-1.33zm-2.72 13.95h-1.9v-1.9h1.9v1.9zm1.35-5.26s-.38.42-.67.71c-.48.48-.83 1.15-.83 1.6h-1.6c0-.83.46-1.52.93-2l.93-.94c.27-.27.44-.65.44-1.06 0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5h-1.5c0-1.66 1.34-3 3-3s3 1.34 3 3c0 .66-.27 1.26-.7 1.69z"/>
            </g>
            <g id="bluetooth">
                <path d="M17.71 7.71l-5.71-5.71h-1v7.59l-4.59-4.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 4.59-4.59v7.59h1l5.71-5.71-4.3-4.29 4.3-4.29zm-4.71-1.88l1.88 1.88-1.88 1.88v-3.76zm1.88 10.46l-1.88 1.88v-3.76l1.88 1.88z"/>
            </g>
            <g id="bluetooth-connected">
                <path d="M7 12l-2-2-2 2 2 2 2-2zm10.71-4.29l-5.71-5.71h-1v7.59l-4.59-4.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 4.59-4.59v7.59h1l5.71-5.71-4.3-4.29 4.3-4.29zm-4.71-1.88l1.88 1.88-1.88 1.88v-3.76zm1.88 10.46l-1.88 1.88v-3.76l1.88 1.88zm4.12-6.29l-2 2 2 2 2-2-2-2z"/>
            </g>
            <g id="bluetooth-disabled">
                <path d="M13 5.83l1.88 1.88-1.6 1.6 1.41 1.41 3.02-3.02-5.71-5.7h-1v5.03l2 2v-3.2zm-7.59-1.83l-1.41 1.41 6.59 6.59-5.59 5.59 1.41 1.41 4.59-4.59v7.59h1l4.29-4.29 2.3 2.29 1.41-1.41-14.59-14.59zm7.59 14.17v-3.76l1.88 1.88-1.88 1.88z"/>
            </g>
            <g id="bluetooth-searching">
                <path d="M14.24 12.01l2.32 2.32c.28-.72.44-1.51.44-2.33 0-.82-.16-1.59-.43-2.31l-2.33 2.32zm5.29-5.3l-1.26 1.26c.63 1.21.98 2.57.98 4.02s-.36 2.82-.98 4.02l1.2 1.2c.97-1.54 1.54-3.36 1.54-5.31-.01-1.89-.55-3.67-1.48-5.19zm-3.82 1l-5.71-5.71h-1v7.59l-4.59-4.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 4.59-4.59v7.59h1l5.71-5.71-4.3-4.29 4.3-4.29zm-4.71-1.88l1.88 1.88-1.88 1.88v-3.76zm1.88 10.46l-1.88 1.88v-3.76l1.88 1.88z"/>
            </g>
            <g id="brightness-auto">
                <path d="M10.85 12.65h2.3l-1.15-3.65-1.15 3.65zm9.15-3.96v-4.69h-4.69l-3.31-3.31-3.31 3.31h-4.69v4.69l-3.31 3.31 3.31 3.31v4.69h4.69l3.31 3.31 3.31-3.31h4.69v-4.69l3.31-3.31-3.31-3.31zm-5.7 7.31l-.7-2h-3.2l-.7 2h-1.9l3.2-9h2l3.2 9h-1.9z"/>
            </g>
            <g id="brightness-high">
                <path d="M20 8.69v-4.69h-4.69l-3.31-3.31-3.31 3.31h-4.69v4.69l-3.31 3.31 3.31 3.31v4.69h4.69l3.31 3.31 3.31-3.31h4.69v-4.69l3.31-3.31-3.31-3.31zm-8 9.31c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm0-10c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z"/>
            </g>
            <g id="brightness-low">
                <path d="M20 15.31l3.31-3.31-3.31-3.31v-4.69h-4.69l-3.31-3.31-3.31 3.31h-4.69v4.69l-3.31 3.31 3.31 3.31v4.69h4.69l3.31 3.31 3.31-3.31h4.69v-4.69zm-8 2.69c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6z"/>
            </g>
            <g id="brightness-medium">
                <path d="M20 15.31l3.31-3.31-3.31-3.31v-4.69h-4.69l-3.31-3.31-3.31 3.31h-4.69v4.69l-3.31 3.31 3.31 3.31v4.69h4.69l3.31 3.31 3.31-3.31h4.69v-4.69zm-8 2.69v-12c3.31 0 6 2.69 6 6s-2.69 6-6 6z"/>
            </g>
            <g id="data-usage">
                <path d="M13 2.05v3.03c3.39.49 6 3.39 6 6.92 0 .9-.18 1.75-.48 2.54l2.6 1.53c.56-1.24.88-2.62.88-4.07 0-5.18-3.95-9.45-9-9.95zm-1 16.95c-3.87 0-7-3.13-7-7 0-3.53 2.61-6.43 6-6.92v-3.03c-5.06.5-9 4.76-9 9.95 0 5.52 4.47 10 9.99 10 3.31 0 6.24-1.61 8.06-4.09l-2.6-1.53c-1.28 1.6-3.24 2.62-5.45 2.62z"/>
            </g>
            <g id="developer-mode">
                <path d="M7 5h10v2h2v-4c0-1.1-.9-1.99-2-1.99l-10-.01c-1.1 0-2 .9-2 2v4h2v-2zm8.41 11.59l4.59-4.59-4.59-4.59-1.41 1.42 3.17 3.17-3.17 3.17 1.41 1.42zm-5.41-1.42l-3.17-3.17 3.17-3.17-1.41-1.42-4.59 4.59 4.59 4.59 1.41-1.42zm7 3.83h-10v-2h-2v4c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2v-4h-2v2z"/>
            </g>
            <g id="devices">
                <path d="M4 6h18v-2h-18c-1.1 0-2 .9-2 2v11h-2v3h14v-3h-10v-11zm19 2h-6c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-10c0-.55-.45-1-1-1zm-1 9h-4v-7h4v7z"/>
            </g>
            <g id="dvr">
                <path d="M21 3h-18c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h5v2h8v-2h5c1.1 0 1.99-.9 1.99-2l.01-12c0-1.1-.9-2-2-2zm0 14h-18v-12h18v12zm-2-9h-11v2h11v-2zm0 4h-11v2h11v-2zm-12-4h-2v2h2v-2zm0 4h-2v2h2v-2z"/>
            </g>
            <g id="gps-fixed">
                <path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94v-2.06h-2v2.06c-4.17.46-7.48 3.77-7.94 7.94h-2.06v2h2.06c.46 4.17 3.77 7.48 7.94 7.94v2.06h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94h2.06v-2h-2.06zm-8.94 8c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
            </g>
            <g id="gps-not-fixed">
                <path d="M20.94 11c-.46-4.17-3.77-7.48-7.94-7.94v-2.06h-2v2.06c-4.17.46-7.48 3.77-7.94 7.94h-2.06v2h2.06c.46 4.17 3.77 7.48 7.94 7.94v2.06h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94h2.06v-2h-2.06zm-8.94 8c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
            </g>
            <g id="gps-off">
                <path d="M20.94 11c-.46-4.17-3.77-7.48-7.94-7.94v-2.06h-2v2.06c-1.13.12-2.19.46-3.16.97l1.5 1.5c.82-.34 1.72-.53 2.66-.53 3.87 0 7 3.13 7 7 0 .94-.19 1.84-.52 2.65l1.5 1.5c.5-.96.84-2.02.97-3.15h2.05v-2h-2.06zm-17.94-6.73l2.04 2.04c-1.07 1.31-1.79 2.92-1.98 4.69h-2.06v2h2.06c.46 4.17 3.77 7.48 7.94 7.94v2.06h2v-2.06c1.77-.2 3.38-.91 4.69-1.98l2.04 2.04 1.27-1.27-16.73-16.73-1.27 1.27zm13.27 13.27c-1.18.91-2.66 1.46-4.27 1.46-3.87 0-7-3.13-7-7 0-1.61.55-3.09 1.46-4.27l9.81 9.81z"/>
            </g>
            <g id="location-disabled">
                <path d="M20.94 11c-.46-4.17-3.77-7.48-7.94-7.94v-2.06h-2v2.06c-1.13.12-2.19.46-3.16.97l1.5 1.5c.82-.34 1.72-.53 2.66-.53 3.87 0 7 3.13 7 7 0 .94-.19 1.84-.52 2.65l1.5 1.5c.5-.96.84-2.02.97-3.15h2.05v-2h-2.06zm-17.94-6.73l2.04 2.04c-1.07 1.31-1.79 2.92-1.98 4.69h-2.06v2h2.06c.46 4.17 3.77 7.48 7.94 7.94v2.06h2v-2.06c1.77-.2 3.38-.91 4.69-1.98l2.04 2.04 1.27-1.27-16.73-16.73-1.27 1.27zm13.27 13.27c-1.18.91-2.66 1.46-4.27 1.46-3.87 0-7-3.13-7-7 0-1.61.55-3.09 1.46-4.27l9.81 9.81z"/>
            </g>
            <g id="location-searching">
                <path d="M20.94 11c-.46-4.17-3.77-7.48-7.94-7.94v-2.06h-2v2.06c-4.17.46-7.48 3.77-7.94 7.94h-2.06v2h2.06c.46 4.17 3.77 7.48 7.94 7.94v2.06h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94h2.06v-2h-2.06zm-8.94 8c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
            </g>
            <g id="multitrack-audio">
                <path d="M7 18h2v-12h-2v12zm4 4h2v-20h-2v20zm-8-8h2v-4h-2v4zm12 4h2v-12h-2v12zm4-8v4h2v-4h-2z"/>
            </g>
            <g id="network-cell">
                <path fill-opacity=".3" d="M2 22h20v-20z"/>
                <path d="M17 7l-15 15h15z"/>
            </g>
            <g id="network-wifi">
                <path fill-opacity=".3"
                      d="M12.01 21.49l11.63-14.49c-.45-.34-4.93-4-11.64-4-6.72 0-11.19 3.66-11.64 4l11.63 14.49.01.01.01-.01z"/>
                <path d="M3.53 10.95l8.46 10.54.01.01.01-.01 8.46-10.54c-.43-.33-3.66-2.95-8.47-2.95-4.81 0-8.04 2.62-8.47 2.95z"/>
            </g>
            <g id="nfc">
                <path d="M20 2h-16c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm0 18h-16v-16h16v16zm-2-14h-5c-1.1 0-2 .9-2 2v2.28c-.6.35-1 .98-1 1.72 0 1.1.9 2 2 2s2-.9 2-2c0-.74-.4-1.38-1-1.72v-2.28h3v8h-8v-8h2v-2h-4v12h12v-12z"/>
            </g>
            <g id="now-wallpaper">
                <path d="M4 4h7v-2h-7c-1.1 0-2 .9-2 2v7h2v-7zm6 9l-4 5h12l-3-4-2.03 2.71-2.97-3.71zm7-4.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5.67 1.5 1.5 1.5 1.5-.67 1.5-1.5zm3-6.5h-7v2h7v7h2v-7c0-1.1-.9-2-2-2zm0 18h-7v2h7c1.1 0 2-.9 2-2v-7h-2v7zm-16-7h-2v7c0 1.1.9 2 2 2h7v-2h-7v-7z"/>
            </g>
            <g id="now-widgets">
                <path d="M13 13v8h8v-8h-8zm-10 8h8v-8h-8v8zm0-18v8h8v-8h-8zm13.66-1.31l-5.66 5.65 5.66 5.66 5.66-5.66-5.66-5.65z"/>
            </g>
            <g id="screen-lock-landscape">
                <path d="M21 5h-18c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2v-10c0-1.1-.9-2-2-2zm-2 12h-14v-10h14v10zm-9-1h4c.55 0 1-.45 1-1v-3c0-.55-.45-1-1-1v-1c0-1.11-.9-2-2-2-1.11 0-2 .9-2 2v1c-.55 0-1 .45-1 1v3c0 .55.45 1 1 1zm.8-6c0-.66.54-1.2 1.2-1.2.66 0 1.2.54 1.2 1.2v1h-2.4v-1z"/>
            </g>
            <g id="screen-lock-portrait">
                <path d="M10 16h4c.55 0 1-.45 1-1v-3c0-.55-.45-1-1-1v-1c0-1.11-.9-2-2-2-1.11 0-2 .9-2 2v1c-.55 0-1 .45-1 1v3c0 .55.45 1 1 1zm.8-6c0-.66.54-1.2 1.2-1.2.66 0 1.2.54 1.2 1.2v1h-2.4v-1zm6.2-9h-10c-1.1 0-2 .9-2 2v18c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2v-18c0-1.1-.9-2-2-2zm0 18h-10v-14h10v14z"/>
            </g>
            <g id="screen-lock-rotation">
                <path d="M23.25 12.77l-2.57-2.57-1.41 1.41 2.22 2.22-5.66 5.66-11.32-11.32 5.66-5.66 2.1 2.1 1.41-1.41-2.45-2.45c-.59-.59-1.54-.59-2.12 0l-6.36 6.36c-.59.59-.59 1.54 0 2.12l12.02 12.02c.59.59 1.54.59 2.12 0l6.36-6.36c.59-.59.59-1.54 0-2.12zm-14.78 7.71c-3.27-1.54-5.61-4.72-5.97-8.48h-1.5c.51 6.16 5.66 11 11.95 11l.66-.03-3.81-3.82-1.33 1.33zm7.53-11.48h5c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1v-.5c0-1.38-1.12-2.5-2.5-2.5s-2.5 1.12-2.5 2.5v.5c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1zm.8-6.5c0-.94.76-1.7 1.7-1.7s1.7.76 1.7 1.7v.5h-3.4v-.5z"/>
            </g>
            <g id="screen-rotation">
                <path d="M16.48 2.52c3.27 1.55 5.61 4.72 5.97 8.48h1.5c-.51-6.16-5.66-11-11.95-11l-.66.03 3.81 3.81 1.33-1.32zm-6.25-.77c-.59-.59-1.54-.59-2.12 0l-6.36 6.36c-.59.59-.59 1.54 0 2.12l12.02 12.02c.59.59 1.54.59 2.12 0l6.36-6.36c.59-.59.59-1.54 0-2.12l-12.02-12.02zm4.6 19.44l-12.02-12.02 6.36-6.36 12.02 12.02-6.36 6.36zm-7.31.29c-3.27-1.54-5.61-4.72-5.97-8.48h-1.5c.51 6.16 5.66 11 11.95 11l.66-.03-3.81-3.81-1.33 1.32z"/>
            </g>
            <g id="sd-storage">
                <path d="M18 2h-8l-5.98 6-.02 12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm-6 6h-2v-4h2v4zm3 0h-2v-4h2v4zm3 0h-2v-4h2v4z"/>
            </g>
            <g id="settings-system-daydream">
                <path d="M9 16h6.5c1.38 0 2.5-1.12 2.5-2.5s-1.12-2.5-2.5-2.5h-.05c-.24-1.69-1.69-3-3.45-3-1.4 0-2.6.83-3.16 2.02h-.16c-1.51.16-2.68 1.43-2.68 2.98 0 1.66 1.34 3 3 3zm12-13h-18c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16.01h-18v-14.02h18v14.02z"/>
            </g>
            <g id="signal-cellular-0-bar">
                <path fill-opacity=".3" d="M2 22h20v-20z"/>
            </g>
            <g id="signal-cellular-1-bar">
                <path fill-opacity=".3" d="M2 22h20v-20z"/>
                <path d="M12 12l-10 10h10z"/>
            </g>
            <g id="signal-cellular-2-bar">
                <path fill-opacity=".3" d="M2 22h20v-20z"/>
                <path d="M14 10l-12 12h12z"/>
            </g>
            <g id="signal-cellular-3-bar">
                <path fill-opacity=".3" d="M2 22h20v-20z"/>
                <path d="M17 7l-15 15h15z"/>
            </g>
            <g id="signal-cellular-4-bar">
                <path d="M2 22h20v-20z"/>
            </g>
            <g id="signal-cellular-connected-no-internet-0-bar">
                <path fill-opacity=".3" d="M22 8v-6l-20 20h16v-14z"/>
                <path d="M20 22h2v-2h-2v2zm0-12v8h2v-8h-2z"/>
            </g>
            <g id="signal-cellular-connected-no-internet-1-bar">
                <path fill-opacity=".3" d="M22 8v-6l-20 20h16v-14z"/>
                <path d="M20 10v8h2v-8h-2zm-8 12v-10l-10 10h10zm8 0h2v-2h-2v2z"/>
            </g>
            <g id="signal-cellular-connected-no-internet-2-bar">
                <path fill-opacity=".3" d="M22 8v-6l-20 20h16v-14z"/>
                <path d="M14 22v-12l-12 12h12zm6-12v8h2v-8h-2zm0 12h2v-2h-2v2z"/>
            </g>
            <g id="signal-cellular-connected-no-internet-3-bar">
                <path fill-opacity=".3" d="M22 8v-6l-20 20h16v-14z"/>
                <path d="M17 22v-15l-15 15h15zm3-12v8h2v-8h-2zm0 12h2v-2h-2v2z"/>
            </g>
            <g id="signal-cellular-connected-no-internet-4-bar">
                <path d="M20 18h2v-8h-2v8zm0 4h2v-2h-2v2zm-18 0h16v-14h4v-6l-20 20z"/>
            </g>
            <g id="signal-cellular-no-sim">
                <path d="M18.99 5c0-1.1-.89-2-1.99-2h-7l-2.34 2.34 11.34 11.34-.01-11.68zm-15.34-1.12l-1.27 1.27 2.62 2.62v11.23c0 1.1.9 2 2 2h10.01c.35 0 .67-.1.96-.26l1.88 1.88 1.27-1.27-17.47-17.47z"/>
            </g>
            <g id="signal-cellular-null">
                <path d="M20 6.83v13.17h-13.17l13.17-13.17m2-4.83l-20 20h20v-20z"/>
            </g>
            <g id="signal-cellular-off">
                <path d="M21 1l-8.59 8.59 8.59 8.59v-17.18zm-16.23 3.5l-1.27 1.27 6.36 6.36-8.86 8.87h17.73l2 2 1.27-1.27-17.23-17.23z"/>
            </g>
            <g id="signal-wifi-0-bar">
                <path fill-opacity=".3"
                      d="M12.01 21.49l11.63-14.49c-.45-.34-4.93-4-11.64-4-6.72 0-11.19 3.66-11.64 4l11.63 14.49.01.01.01-.01z"/>
            </g>
            <g id="signal-wifi-1-bar">
                <path fill-opacity=".3"
                      d="M12.01 21.49l11.63-14.49c-.45-.34-4.93-4-11.64-4-6.72 0-11.19 3.66-11.64 4l11.63 14.49.01.01.01-.01z"/>
                <path d="M6.67 14.86l5.33 6.63v.01l.01-.01 5.33-6.63c-.28-.21-2.31-1.86-5.34-1.86s-5.06 1.65-5.33 1.86z"/>
            </g>
            <g id="signal-wifi-2-bar">
                <path fill-opacity=".3"
                      d="M12.01 21.49l11.63-14.49c-.45-.34-4.93-4-11.64-4-6.72 0-11.19 3.66-11.64 4l11.63 14.49.01.01.01-.01z"/>
                <path d="M4.79 12.52l7.2 8.98h.01l.01-.01 7.2-8.98c-.36-.27-3.11-2.51-7.21-2.51s-6.85 2.24-7.21 2.52z"/>
            </g>
            <g id="signal-wifi-3-bar">
                <path fill-opacity=".3"
                      d="M12.01 21.49l11.63-14.49c-.45-.34-4.93-4-11.64-4-6.72 0-11.19 3.66-11.64 4l11.63 14.49.01.01.01-.01z"/>
                <path d="M3.53 10.95l8.46 10.54.01.01.01-.01 8.46-10.54c-.43-.33-3.66-2.95-8.47-2.95-4.81 0-8.04 2.62-8.47 2.95z"/>
            </g>
            <g id="signal-wifi-4-bar">
                <path d="M12.01 21.49l11.63-14.49c-.45-.34-4.93-4-11.64-4-6.72 0-11.19 3.66-11.64 4l11.63 14.49.01.01.01-.01z"/>
            </g>
            <g id="signal-wifi-off">
                <path d="M23.64 7c-.45-.34-4.93-4-11.64-4-1.5 0-2.89.19-4.15.48l10.33 10.32 5.46-6.8zm-6.6 8.22l-13.77-13.78-1.27 1.28 2.05 2.06c-2.14.98-3.46 2.04-3.69 2.22l11.63 14.49.01.01.01-.01 3.9-4.86 3.32 3.32 1.27-1.27-3.46-3.46z"/>
            </g>
            <g id="signal-wifi-statusbar-1-bar">
                <path d="M13 21.99l5.66-7.05c-.22-.16-2.39-1.94-5.66-1.94s-5.44 1.78-5.66 1.95l5.66 7.04z"/>
                <path fill-opacity=".3"
                      d="M13.01 21.99l12.57-15.67c-.48-.36-5.32-4.32-12.58-4.32s-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01z"/>
            </g>
            <g id="signal-wifi-statusbar-2-bar">
                <path fill-opacity=".3"
                      d="M13.01 21.99l12.57-15.67c-.48-.36-5.32-4.32-12.58-4.32s-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01z"/>
                <path d="M13.01 21.99l7.54-9.4c-.29-.21-3.19-2.59-7.55-2.59-4.36 0-7.26 2.38-7.55 2.59l7.54 9.4h.02z"/>
            </g>
            <g id="signal-wifi-statusbar-3-bar">
                <path d="M13.01 21.99l9.43-11.75c-.37-.27-4-3.24-9.44-3.24-5.44 0-9.07 2.97-9.44 3.24l9.43 11.75h.02z"/>
                <path fill-opacity=".3"
                      d="M13.01 21.99l12.57-15.67c-.48-.36-5.32-4.32-12.58-4.32s-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01z"/>
            </g>
            <g id="signal-wifi-statusbar-4-bar">
                <path d="M13.01 21.99l12.57-15.67c-.48-.36-5.32-4.32-12.58-4.32s-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01z"/>
            </g>
            <g id="signal-wifi-statusbar-connected-no-internet-1">
                <path fill-opacity=".3"
                      d="M24.24 8l1.35-1.68c-.49-.36-5.33-4.32-12.59-4.32s-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01 6.99-8.71v-5.28h4.24z"/>
                <path d="M7.34 14.95l5.66 7.04v.01-.01l5.66-7.05c-.22-.16-2.39-1.94-5.66-1.94s-5.44 1.78-5.66 1.95zm14.66 7.05h2v-2h-2v2zm0-12v8h2v-8h-2z"/>
            </g>
            <g id="signal-wifi-statusbar-connected-no-internet-2">
                <path fill-opacity=".3"
                      d="M24.24 8l1.35-1.68c-.49-.36-5.33-4.32-12.59-4.32s-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01 6.99-8.71v-5.28h4.24z"/>
                <path d="M5.45 12.59l7.54 9.4.01.01.01-.01 6.99-8.71v-1.09c-1.07-.73-3.59-2.19-7-2.19-4.36 0-7.26 2.38-7.55 2.59zm16.55-2.59v8h2v-8h-2zm0 12h2v-2h-2v2z"/>
            </g>
            <g id="signal-wifi-statusbar-connected-no-internet">
                <path fill-opacity=".3"
                      d="M24.24 8l1.35-1.68c-.49-.36-5.33-4.32-12.59-4.32s-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01 6.99-8.71v-5.28h4.24z"/>
                <path d="M22 22h2v-2h-2v2zm0-12v8h2v-8h-2z"/>
            </g>
            <g id="signal-wifi-statusbar-connected-no-internet-3">
                <path d="M13.01 21.99l9.43-11.75c-.37-.27-4-3.24-9.44-3.24-5.44 0-9.07 2.97-9.44 3.24l9.43 11.75h.02z"/>
                <path fill-opacity=".3"
                      d="M13.01 21.99l12.57-15.67c-.48-.36-5.32-4.32-12.58-4.32s-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01z"/>
                <path d="M20 16.27v-8.27h6.64"/>
                <path d="M22 22h2v-2h-2v2zm0-12v8h2v-8h-2z"/>
            </g>
            <g id="signal-wifi-statusbar-connected-no-internet-4">
                <path d="M22 22h2v-2h-2v2zm-9-20c-7.26 0-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01 6.99-8.71v-5.28h4.24l1.35-1.68c-.49-.36-5.33-4.32-12.59-4.32zm9 16h2v-8h-2v8z"/>
            </g>
            <g id="signal-wifi-statusbar-not-connected">
                <path fill-opacity=".3"
                      d="M21 8.5c.85 0 1.64.23 2.34.62l2.24-2.79c-.48-.37-5.32-4.33-12.58-4.33s-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01 4.21-5.24c-.76-.87-1.22-2-1.22-3.25 0-2.76 2.24-5 5-5z"/>
                <path d="M21 10c-1.93 0-3.5 1.57-3.5 3.5h1.75c0-.97.78-1.75 1.75-1.75s1.75.78 1.75 1.75c0 .48-.2.92-.51 1.24l-1.09 1.1c-.63.63-1.02 1.51-1.02 2.47v.44h1.75c0-1.31.39-1.84 1.03-2.47l.78-.8c.5-.5.82-1.2.82-1.97-.01-1.94-1.58-3.51-3.51-3.51zm-.95 11.95h1.9v-1.9h-1.9v1.9z"/>
            </g>
            <g id="signal-wifi-statusbar-null">
                <path d="M13 4c4.25 0 7.62 1.51 9.68 2.75l-9.68 12.05-9.67-12.05c2.05-1.24 5.42-2.75 9.67-2.75m0-2c-7.26 0-12.1 3.96-12.58 4.32l12.57 15.66.01.02.01-.01 12.57-15.67c-.48-.36-5.32-4.32-12.58-4.32z"/>
            </g>
            <g id="storage">
                <path d="M2 20h20v-4h-20v4zm2-3h2v2h-2v-2zm-2-13v4h20v-4h-20zm4 3h-2v-2h2v2zm-4 7h20v-4h-20v4zm2-3h2v2h-2v-2z"/>
            </g>
            <g id="tv-guide">
                <path d="M19 3h-14c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-3 13h-2l-2.25-6h-1.75v6h-2v-6h-3v-2h8.5l1.5 4.5 1.5-4.5h2.5l-3 8z"/>
            </g>
            <g id="tv-options-edit-channels">
                <path d="M1 16h2v-2h-2v2zm17-10h-13v2h13v-2zm-17 6h2v-2h-2v2zm17-2h-13v2h13v-2zm4.59-.41l-7.59 7.58-3.59-3.59-1.41 1.42 5 5 9-9-1.41-1.41zm-21.59-1.59h2v-2h-2v2zm4 8h4v-2h-4v2z"/>
            </g>
            <g id="tv-options-input-settings">
                <path d="M7.17 13.63l1 1.73c.06.11.19.15.31.11l1.24-.5c.26.2.54.37.85.49l.19 1.32c.01.13.12.22.24.22h2c.12 0 .23-.09.25-.21l.19-1.32c.3-.13.59-.29.84-.49l1.25.5c.11.04.24 0 .31-.11l1-1.73c.06-.11.03-.24-.06-.32l-1.06-.83c.02-.16.04-.32.04-.49s-.01-.33-.04-.49l1.06-.83c.09-.08.12-.21.06-.32l-1-1.73c-.06-.11-.19-.15-.31-.11l-1.24.5c-.26-.2-.54-.37-.84-.49l-.19-1.32c-.03-.12-.14-.21-.26-.21h-2c-.12 0-.23.09-.25.21l-.19 1.32c-.3.13-.59.29-.85.49l-1.24-.5c-.11-.04-.24 0-.31.11l-1 1.73c-.06.11-.04.24.06.32l1.06.83c-.02.16-.03.32-.03.49s.01.33.04.49l-1.06.83c-.1.07-.12.21-.06.31zm4.83-3.63c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9-7h-18c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16.01h-18v-14.02h18v14.02z"/>
            </g>
            <g id="tv-options-parental">
                <path d="M16.5 12c1.38 0 2.49-1.12 2.49-2.5s-1.11-2.5-2.49-2.5c-1.38 0-2.5 1.12-2.5 2.5s1.12 2.5 2.5 2.5zm-7.5-1c1.66 0 2.99-1.34 2.99-3s-1.33-3-2.99-3c-1.66 0-3 1.34-3 3s1.34 3 3 3zm7.5 3c-1.83 0-5.5.92-5.5 2.75v2.25h11v-2.25c0-1.83-3.67-2.75-5.5-2.75zm-7.5-1c-2.33 0-7 1.17-7 3.5v2.5h7v-2.25c0-.85.33-2.34 2.37-3.47-.87-.18-1.71-.28-2.37-.28z"/>
            </g>
            <g id="usb">
                <path d="M15 7v4h1v2h-3v-8h2l-3-4-3 4h2v8h-3v-2.07c.7-.37 1.2-1.08 1.2-1.93 0-1.21-.99-2.2-2.2-2.2-1.21 0-2.2.99-2.2 2.2 0 .85.5 1.56 1.2 1.93v2.07c0 1.11.89 2 2 2h3v3.05c-.71.37-1.2 1.1-1.2 1.95 0 1.22.99 2.2 2.2 2.2 1.21 0 2.2-.98 2.2-2.2 0-.85-.49-1.58-1.2-1.95v-3.05h3c1.11 0 2-.89 2-2v-2h1v-4h-4z"/>
            </g>
            <g id="wifi-lock">
                <path d="M20.5 9.5c.28 0 .55.04.81.08l2.69-3.58c-3.34-2.51-7.5-4-12-4s-8.66 1.49-12 4l12 16 3.5-4.67v-2.83c0-2.76 2.24-5 5-5zm2.5 6.5v-1.5c0-1.38-1.12-2.5-2.5-2.5s-2.5 1.12-2.5 2.5v1.5c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h5c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1zm-1 0h-3v-1.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5v1.5z"/>
            </g>
            <g id="wifi-tethering">
                <path d="M12 11c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 2c0-3.31-2.69-6-6-6s-6 2.69-6 6c0 2.22 1.21 4.15 3 5.19l1-1.74c-1.19-.7-2-1.97-2-3.45 0-2.21 1.79-4 4-4s4 1.79 4 4c0 1.48-.81 2.75-2 3.45l1 1.74c1.79-1.04 3-2.97 3-5.19zm-6-10c-5.52 0-10 4.48-10 10 0 3.7 2.01 6.92 4.99 8.65l1-1.73c-2.38-1.39-3.99-3.96-3.99-6.92 0-4.42 3.58-8 8-8s8 3.58 8 8c0 2.96-1.61 5.53-4 6.92l1 1.73c2.99-1.73 5-4.95 5-8.65 0-5.52-4.48-10-10-10z"/>
            </g>
        </defs>
    </svg>
</core-iconset-svg>
