<!--
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-iconset-svg/core-iconset-svg.html">
<core-iconset-svg id="editor" iconSize="24">
    <svg>
        <defs>
            <g id="attach-file">
                <path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4v-12.5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1v-9.5h-1.5v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5v-10.5c0-2.21-1.79-4-4-4s-4 1.79-4 4v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5v-11.5h-1.5z"/>
            </g>
            <g id="attach-money">
                <path d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81v-2.19h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83v2.17h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"/>
            </g>
            <g id="border-all">
                <path d="M3 3v18h18v-18h-18zm8 16h-6v-6h6v6zm0-8h-6v-6h6v6zm8 8h-6v-6h6v6zm0-8h-6v-6h6v6z"/>
            </g>
            <g id="border-bottom">
                <path d="M9 11h-2v2h2v-2zm4 4h-2v2h2v-2zm-4-12h-2v2h2v-2zm4 8h-2v2h2v-2zm-8-8h-2v2h2v-2zm8 4h-2v2h2v-2zm4 4h-2v2h2v-2zm-4-8h-2v2h2v-2zm4 0h-2v2h2v-2zm2 10h2v-2h-2v2zm0 4h2v-2h-2v2zm-14-10h-2v2h2v-2zm14-4v2h2v-2h-2zm0 6h2v-2h-2v2zm-14 2h-2v2h2v-2zm-2 10h18v-2h-18v2zm2-6h-2v2h2v-2z"/>
            </g>
            <g id="border-clear">
                <path d="M7 5h2v-2h-2v2zm0 8h2v-2h-2v2zm0 8h2v-2h-2v2zm4-4h2v-2h-2v2zm0 4h2v-2h-2v2zm-8 0h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2zm8 8h2v-2h-2v2zm8 4h2v-2h-2v2zm0-4h2v-2h-2v2zm0 8h2v-2h-2v2zm0-12h2v-2h-2v2zm-8 0h2v-2h-2v2zm8-6v2h2v-2h-2zm-8 2h2v-2h-2v2zm4 16h2v-2h-2v2zm0-8h2v-2h-2v2zm0-8h2v-2h-2v2z"/>
            </g>
            <g id="border-color">
                <path d="M17.75 7l-3.75-3.75-10 10v3.75h3.75l10-10zm2.96-2.96c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.96 1.96 3.75 3.75 1.96-1.96z"/>
                <path fill-opacity=".36" d="M0 20h24v4h-24z"/>
            </g>
            <g id="border-horizontal">
                <path d="M3 21h2v-2h-2v2zm2-14h-2v2h2v-2zm-2 10h2v-2h-2v2zm4 4h2v-2h-2v2zm-2-18h-2v2h2v-2zm4 0h-2v2h2v-2zm8 0h-2v2h2v-2zm-4 4h-2v2h2v-2zm0-4h-2v2h2v-2zm6 14h2v-2h-2v2zm-8 4h2v-2h-2v2zm-8-8h18v-2h-18v2zm16-10v2h2v-2h-2zm0 6h2v-2h-2v2zm-8 8h2v-2h-2v2zm4 4h2v-2h-2v2zm4 0h2v-2h-2v2z"/>
            </g>
            <g id="border-inner">
                <path d="M3 21h2v-2h-2v2zm4 0h2v-2h-2v2zm-2-14h-2v2h2v-2zm-2 10h2v-2h-2v2zm6-14h-2v2h2v-2zm-4 0h-2v2h2v-2zm12 0h-2v2h2v-2zm2 6h2v-2h-2v2zm0-6v2h2v-2h-2zm-4 18h2v-2h-2v2zm-2-18h-2v8h-8v2h8v8h2v-8h8v-2h-8v-8zm6 18h2v-2h-2v2zm0-4h2v-2h-2v2z"/>
            </g>
            <g id="border-left">
                <path d="M11 21h2v-2h-2v2zm0-4h2v-2h-2v2zm0-12h2v-2h-2v2zm0 4h2v-2h-2v2zm0 4h2v-2h-2v2zm-4 8h2v-2h-2v2zm0-16h2v-2h-2v2zm0 8h2v-2h-2v2zm-4 8h2v-18h-2v18zm16-12h2v-2h-2v2zm-4 12h2v-2h-2v2zm4-4h2v-2h-2v2zm0-14v2h2v-2h-2zm0 10h2v-2h-2v2zm0 8h2v-2h-2v2zm-4-8h2v-2h-2v2zm0-8h2v-2h-2v2z"/>
            </g>
            <g id="border-outer">
                <path d="M13 7h-2v2h2v-2zm0 4h-2v2h2v-2zm4 0h-2v2h2v-2zm-14-8v18h18v-18h-18zm16 16h-14v-14h14v14zm-6-4h-2v2h2v-2zm-4-4h-2v2h2v-2z"/>
            </g>
            <g id="border-right">
                <path d="M7 21h2v-2h-2v2zm-4-16h2v-2h-2v2zm4 0h2v-2h-2v2zm0 8h2v-2h-2v2zm-4 8h2v-2h-2v2zm8 0h2v-2h-2v2zm-8-8h2v-2h-2v2zm0 4h2v-2h-2v2zm0-8h2v-2h-2v2zm8 8h2v-2h-2v2zm4-4h2v-2h-2v2zm4-10v18h2v-18h-2zm-4 18h2v-2h-2v2zm0-16h2v-2h-2v2zm-4 8h2v-2h-2v2zm0-8h2v-2h-2v2zm0 4h2v-2h-2v2z"/>
            </g>
            <g id="border-style">
                <path d="M15 21h2v-2h-2v2zm4 0h2v-2h-2v2zm-12 0h2v-2h-2v2zm4 0h2v-2h-2v2zm8-4h2v-2h-2v2zm0-4h2v-2h-2v2zm-16-10v18h2v-16h16v-2h-18zm16 6h2v-2h-2v2z"/>
            </g>
            <g id="border-top">
                <path d="M7 21h2v-2h-2v2zm0-8h2v-2h-2v2zm4 0h2v-2h-2v2zm0 8h2v-2h-2v2zm-8-4h2v-2h-2v2zm0 4h2v-2h-2v2zm0-8h2v-2h-2v2zm0-4h2v-2h-2v2zm8 8h2v-2h-2v2zm8-8h2v-2h-2v2zm0 4h2v-2h-2v2zm-16-10v2h18v-2h-18zm16 14h2v-2h-2v2zm-4 4h2v-2h-2v2zm-4-12h2v-2h-2v2zm8 12h2v-2h-2v2zm-4-8h2v-2h-2v2z"/>
            </g>
            <g id="border-vertical">
                <path d="M3 9h2v-2h-2v2zm0-4h2v-2h-2v2zm4 16h2v-2h-2v2zm0-8h2v-2h-2v2zm-4 0h2v-2h-2v2zm0 8h2v-2h-2v2zm0-4h2v-2h-2v2zm4-12h2v-2h-2v2zm12 12h2v-2h-2v2zm-8 4h2v-18h-2v18zm8 0h2v-2h-2v2zm0-8h2v-2h-2v2zm0-10v2h2v-2h-2zm0 6h2v-2h-2v2zm-4-4h2v-2h-2v2zm0 16h2v-2h-2v2zm0-8h2v-2h-2v2z"/>
            </g>
            <g id="format-align-center">
                <path d="M7 15v2h10v-2h-10zm-4 6h18v-2h-18v2zm0-8h18v-2h-18v2zm4-6v2h10v-2h-10zm-4-4v2h18v-2h-18z"/>
            </g>
            <g id="format-align-justify">
                <path d="M3 21h18v-2h-18v2zm0-4h18v-2h-18v2zm0-4h18v-2h-18v2zm0-4h18v-2h-18v2zm0-6v2h18v-2h-18z"/>
            </g>
            <g id="format-align-left">
                <path d="M15 15h-12v2h12v-2zm0-8h-12v2h12v-2zm-12 6h18v-2h-18v2zm0 8h18v-2h-18v2zm0-18v2h18v-2h-18z"/>
            </g>
            <g id="format-align-right">
                <path d="M3 21h18v-2h-18v2zm6-4h12v-2h-12v2zm-6-4h18v-2h-18v2zm6-4h12v-2h-12v2zm-6-6v2h18v-2h-18z"/>
            </g>
            <g id="format-bold">
                <path d="M15.6 10.79c.97-.67 1.65-1.77 1.65-2.79 0-2.26-1.75-4-4-4h-6.25v14h7.04c2.09 0 3.71-1.7 3.71-3.79 0-1.52-.86-2.82-2.15-3.42zm-5.6-4.29h3c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5h-3v-3zm3.5 9h-3.5v-3h3.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5z"/>
            </g>
            <g id="format-clear">
                <path d="M3.27 5l-1.27 1.27 6.97 6.97-2.47 5.76h3l1.57-3.66 5.66 5.66 1.27-1.27-14.45-14.46-.28-.27zm2.73 0v.18l2.82 2.82h2.4l-.72 1.68 2.1 2.1 1.61-3.78h5.79v-3h-14z"/>
            </g>
            <g id="format-color-fill">
                <path d="M16.56 8.94l-8.94-8.94-1.41 1.41 2.38 2.38-5.15 5.15c-.59.59-.59 1.54 0 2.12l5.5 5.5c.29.29.68.44 1.06.44s.77-.15 1.06-.44l5.5-5.5c.59-.58.59-1.53 0-2.12zm-11.35 1.06l4.79-4.79 4.79 4.79h-9.58zm13.79 1.5s-2 2.17-2 3.5c0 1.1.9 2 2 2s2-.9 2-2c0-1.33-2-3.5-2-3.5z"/>
                <path fill-opacity=".36" d="M0 20h24v4h-24z"/>
            </g>
            <g id="format-color-reset">
                <path d="M18 14c0-4-6-10.8-6-10.8s-1.33 1.51-2.73 3.52l8.59 8.59c.09-.42.14-.86.14-1.31zm-.88 3.12l-4.62-4.62-7.23-7.23-1.27 1.28 3.32 3.32c-.77 1.45-1.32 2.92-1.32 4.13 0 3.31 2.69 6 6 6 1.52 0 2.9-.57 3.96-1.5l2.63 2.63 1.27-1.27-2.74-2.74z"/>
            </g>
            <g id="format-color-text">
                <path fill-opacity=".36" d="M0 20h24v4h-24z"/>
                <path d="M11 3l-5.5 14h2.25l1.12-3h6.25l1.12 3h2.25l-5.49-14h-2zm-1.38 9l2.38-6.33 2.38 6.33h-4.76z"/>
            </g>
            <g id="format-indent-decrease">
                <path d="M11 17h10v-2h-10v2zm-8-5l4 4v-8l-4 4zm0 9h18v-2h-18v2zm0-18v2h18v-2h-18zm8 6h10v-2h-10v2zm0 4h10v-2h-10v2z"/>
            </g>
            <g id="format-indent-increase">
                <path d="M3 21h18v-2h-18v2zm0-13v8l4-4-4-4zm8 9h10v-2h-10v2zm-8-14v2h18v-2h-18zm8 6h10v-2h-10v2zm0 4h10v-2h-10v2z"/>
            </g>
            <g id="format-italic">
                <path d="M10 4v3h2.21l-3.42 8h-2.79v3h8v-3h-2.21l3.42-8h2.79v-3z"/>
            </g>
            <g id="format-line-spacing">
                <path d="M6 7h2.5l-3.5-3.5-3.5 3.5h2.5v10h-2.5l3.5 3.5 3.5-3.5h-2.5v-10zm4-2v2h12v-2h-12zm0 14h12v-2h-12v2zm0-6h12v-2h-12v2z"/>
            </g>
            <g id="format-list-bulleted">
                <path d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0 12.17c-.74 0-1.33.6-1.33 1.33s.6 1.33 1.33 1.33 1.33-.6 1.33-1.33-.59-1.33-1.33-1.33zm3 2.33h14v-2h-14v2zm0-6h14v-2h-14v2zm0-8v2h14v-2h-14z"/>
            </g>
            <g id="format-list-numbered">
                <path d="M2 17h2v.5h-1v1h1v.5h-2v1h3v-4h-3v1zm1-9h1v-4h-2v1h1v3zm-1 3h1.8l-1.8 2.1v.9h3v-1h-1.8l1.8-2.1v-.9h-3v1zm5-6v2h14v-2h-14zm0 14h14v-2h-14v2zm0-6h14v-2h-14v2z"/>
            </g>
            <g id="format-paint">
                <path d="M18 4v-1c0-.55-.45-1-1-1h-12c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-1h1v4h-10v11c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-9h8v-8h-3z"/>
            </g>
            <g id="format-quote">
                <path d="M6 17h3l2-4v-6h-6v6h3zm8 0h3l2-4v-6h-6v6h3z"/>
            </g>
            <g id="format-size">
                <path d="M9 4v3h5v12h3v-12h5v-3h-13zm-6 8h3v7h3v-7h3v-3h-9v3z"/>
            </g>
            <g id="format-strikethrough">
                <path d="M10 19h4v-3h-4v3zm-5-15v3h5v3h4v-3h5v-3h-14zm-2 10h18v-2h-18v2z"/>
            </g>
            <g id="format-textdirection-l-to-r">
                <path d="M18 4h-12v2l6.5 6-6.5 6v2h12v-3h-7l5-5-5-5h7z"/>
            </g>
            <g id="format-textdirection-r-to-l">
                <path d="M9 10v5h2v-11h2v11h2v-11h2v-2h-8c-2.21 0-4 1.79-4 4s1.79 4 4 4zm12 8l-4-4v3h-12v2h12v3l4-4z"/>
            </g>
            <g id="format-underline">
                <path d="M12 17c3.31 0 6-2.69 6-6v-8h-2.5v8c0 1.93-1.57 3.5-3.5 3.5s-3.5-1.57-3.5-3.5v-8h-2.5v8c0 3.31 2.69 6 6 6zm-7 2v2h14v-2h-14z"/>
            </g>
            <g id="functions">
                <path d="M10 10v5h2v-11h2v11h2v-11h2v-2h-8c-2.21 0-4 1.79-4 4s1.79 4 4 4zm-2 7v-3l-4 4 4 4v-3h12v-2h-12z"/>
            </g>
            <g id="insert-chart">
                <path d="M19 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-10 14h-2v-7h2v7zm4 0h-2v-10h2v10zm4 0h-2v-4h2v4z"/>
            </g>
            <g id="insert-comment">
                <path d="M20 2h-16c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4v-18c0-1.1-.9-2-2-2zm-2 12h-12v-2h12v2zm0-3h-12v-2h12v2zm0-3h-12v-2h12v2z"/>
            </g>
            <g id="insert-drive-file">
                <path d="M6 2c-1.1 0-1.99.9-1.99 2l-.01 16c0 1.1.89 2 1.99 2h12.01c1.1 0 2-.9 2-2v-12l-6-6h-8zm7 7v-5.5l5.5 5.5h-5.5z"/>
            </g>
            <g id="insert-emoticon">
                <path d="M11.99 2c-5.52 0-9.99 4.48-9.99 10s4.47 10 9.99 10c5.53 0 10.01-4.48 10.01-10s-4.48-10-10.01-10zm.01 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5h-10.22c.8 2.04 2.78 3.5 5.11 3.5z"/>
            </g>
            <g id="insert-invitation">
                <path d="M17 12h-5v5h5v-5zm-1-11v2h-8v-2h-2v2h-1c-1.11 0-1.99.9-1.99 2l-.01 14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2h-1v-2h-2zm3 18h-14v-11h14v11z"/>
            </g>
            <g id="insert-link">
                <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4v-1.9h-4c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9h-4c-1.71 0-3.1-1.39-3.1-3.1zm4.1 1h8v-2h-8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4v1.9h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
            </g>
            <g id="insert-photo">
                <path d="M21 19v-14c0-1.1-.9-2-2-2h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zm-12.5-5.5l2.5 3.01 3.5-4.51 4.5 6h-14l3.5-4.5z"/>
            </g>
            <g id="merge-type">
                <path d="M17 20.41l1.41-1.41-3.41-3.41-1.41 1.41 3.41 3.41zm-9.5-12.41h3.5v5.59l-5.41 5.41 1.41 1.41 6-6v-6.41h3.5l-4.5-4.5-4.5 4.5z"/>
            </g>
            <g id="mode-comment">
                <path d="M21.99 4c0-1.1-.89-2-1.99-2h-16c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18z"/>
            </g>
            <g id="mode-edit">
                <path d="M3 17.25v3.75h3.75l11.06-11.06-3.75-3.75-11.06 11.06zm17.71-10.21c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
            </g>
            <g id="publish">
                <path d="M5 4v2h14v-2h-14zm0 10h4v6h6v-6h4l-7-7-7 7z"/>
            </g>
            <g id="vertical-align-bottom">
                <path d="M16 13h-3v-10h-2v10h-3l4 4 4-4zm-12 6v2h16v-2h-16z"/>
            </g>
            <g id="vertical-align-center">
                <path d="M8 19h3v4h2v-4h3l-4-4-4 4zm8-14h-3v-4h-2v4h-3l4 4 4-4zm-12 6v2h16v-2h-16z"/>
            </g>
            <g id="vertical-align-top">
                <path d="M8 11h3v10h2v-10h3l-4-4-4 4zm-4-8v2h16v-2h-16z"/>
            </g>
            <g id="wrap-text">
                <path d="M4 19h6v-2h-6v2zm16-14h-16v2h16v-2zm-3 6h-13v2h13.25c1.1 0 2 .9 2 2s-.9 2-2 2h-2.25v-2l-3 3 3 3v-2h2c2.21 0 4-1.79 4-4s-1.79-4-4-4z"/>
            </g>
        </defs>
    </svg>
</core-iconset-svg>
