<!--
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-iconset-svg/core-iconset-svg.html">
<core-iconset-svg id="hardware" iconSize="24">
    <svg>
        <defs>
            <g id="cast">
                <path d="M21 3h-18c-1.1 0-2 .9-2 2v3h2v-3h18v14h-7v2h7c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-20 15v3h3c0-1.66-1.34-3-3-3zm0-4v2c2.76 0 5 2.24 5 5h2c0-3.87-3.13-7-7-7zm0-4v2c4.97 0 9 4.03 9 9h2c0-6.08-4.93-11-11-11z"/>
            </g>
            <g id="cast-connected">
                <path d="M1 18v3h3c0-1.66-1.34-3-3-3zm0-4v2c2.76 0 5 2.24 5 5h2c0-3.87-3.13-7-7-7zm18-7h-14v1.63c3.96 1.28 7.09 4.41 8.37 8.37h5.63v-10zm-18 3v2c4.97 0 9 4.03 9 9h2c0-6.08-4.93-11-11-11zm20-7h-18c-1.1 0-2 .9-2 2v3h2v-3h18v14h-7v2h7c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2z"/>
            </g>
            <g id="chromecast">
                <path d="M12 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 2c2.96 0 5.54 1.61 6.92 4h-6.92c-1.94 0-3.55 1.38-3.92 3.21l-2.38-4.13c1.46-1.87 3.74-3.08 6.3-3.08zm3 8c0 1.66-1.34 3-3 3s-3-1.34-3-3 1.34-3 3-3 3 1.34 3 3zm-11 0c0-1.46.4-2.82 1.08-3.99l3.46 6 .01-.01c.69 1.19 1.97 2 3.45 2 .45 0 .88-.09 1.29-.23l-2.39 4.15c-3.9-.54-6.9-3.88-6.9-7.92zm8 8l3.46-6-.02-.01c.35-.59.56-1.26.56-1.99 0-1.2-.54-2.27-1.38-3h4.79c.38.93.59 1.94.59 3 0 4.42-3.58 8-8 8z"/>
            </g>
            <g id="computer">
                <path d="M20 18c1.1 0 1.99-.9 1.99-2l.01-10c0-1.1-.9-2-2-2h-16c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h-4v2h24v-2h-4zm-16-12h16v10h-16v-10z"/>
            </g>
            <g id="desktop-mac">
                <path d="M21 2h-18c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h7l-2 3v1h8v-1l-2-3h7c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 12h-18v-10h18v10z"/>
            </g>
            <g id="desktop-windows">
                <path d="M21 2h-18c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h7v2h-2v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 14h-18v-12h18v12z"/>
            </g>
            <g id="dock">
                <path d="M8 23h8v-2h-8v2zm8-21.99l-8-.01c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2v-14c0-1.1-.9-1.99-2-1.99zm0 13.99h-8v-10h8v10z"/>
            </g>
            <g id="gamepad">
                <path d="M15 7.5v-5.5h-6v5.5l3 3 3-3zm-7.5 1.5h-5.5v6h5.5l3-3-3-3zm1.5 7.5v5.5h6v-5.5l-3-3-3 3zm7.5-7.5l-3 3 3 3h5.5v-6h-5.5z"/>
            </g>
            <g id="headset">
                <path d="M12 1c-4.97 0-9 4.03-9 9v7c0 1.66 1.34 3 3 3h3v-8h-4v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h3c1.66 0 3-1.34 3-3v-7c0-4.97-4.03-9-9-9z"/>
            </g>
            <g id="headset-mic">
                <path d="M12 1c-4.97 0-9 4.03-9 9v7c0 1.66 1.34 3 3 3h3v-8h-4v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h4v1h-7v2h6c1.66 0 3-1.34 3-3v-10c0-4.97-4.03-9-9-9z"/>
            </g>
            <g id="keyboard">
                <path d="M20 5h-16c-1.1 0-1.99.9-1.99 2l-.01 10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-10c0-1.1-.9-2-2-2zm-9 3h2v2h-2v-2zm0 3h2v2h-2v-2zm-3-3h2v2h-2v-2zm0 3h2v2h-2v-2zm-1 2h-2v-2h2v2zm0-3h-2v-2h2v2zm9 7h-8v-2h8v2zm0-4h-2v-2h2v2zm0-3h-2v-2h2v2zm3 3h-2v-2h2v2zm0-3h-2v-2h2v2z"/>
            </g>
            <g id="keyboard-alt">
                <path d="M15.5 10c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5zm3.5 7c2.61 0 4.83-1.67 5.65-4h-11.3c.82 2.33 3.04 4 5.65 4zm-.01-16c-5.52 0-9.99 4.48-9.99 10s4.47 10 9.99 10c5.53 0 10.01-4.48 10.01-10s-4.48-10-10.01-10zm.01 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
            </g>
            <g id="keyboard-arrow-down">
                <path d="M7.41 7.84l4.59 4.58 4.59-4.58 1.41 1.41-6 6-6-6z"/>
            </g>
            <g id="keyboard-arrow-left">
                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59-1.41-1.41-6 6 6 6z"/>
            </g>
            <g id="keyboard-arrow-right">
                <path d="M8.59 16.34l4.58-4.59-4.58-4.59 1.41-1.41 6 6-6 6z"/>
            </g>
            <g id="keyboard-arrow-up">
                <path d="M7.41 15.41l4.59-4.58 4.59 4.58 1.41-1.41-6-6-6 6z"/>
            </g>
            <g id="keyboard-backspace">
                <path d="M21 11h-14.17l3.58-3.59-1.41-1.41-6 6 6 6 1.41-1.41-3.58-3.59h14.17z"/>
            </g>
            <g id="keyboard-capslock">
                <path d="M12 8.41l4.59 4.59 1.41-1.41-6-6-6 6 1.41 1.41 4.59-4.59zm-6 9.59h12v-2h-12v2z"/>
            </g>
            <g id="keyboard-control">
                <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
            </g>
            <g id="keyboard-hide">
                <path d="M20 3h-16c-1.1 0-1.99.9-1.99 2l-.01 10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-10c0-1.1-.9-2-2-2zm-9 3h2v2h-2v-2zm0 3h2v2h-2v-2zm-3-3h2v2h-2v-2zm0 3h2v2h-2v-2zm-1 2h-2v-2h2v2zm0-3h-2v-2h2v2zm9 7h-8v-2h8v2zm0-4h-2v-2h2v2zm0-3h-2v-2h2v2zm3 3h-2v-2h2v2zm0-3h-2v-2h2v2zm-7 15l4-4h-8l4 4z"/>
            </g>
            <g id="keyboard-return">
                <path d="M19 7v4h-13.17l3.58-3.59-1.41-1.41-6 6 6 6 1.41-1.41-3.58-3.59h15.17v-6z"/>
            </g>
            <g id="keyboard-tab">
                <path d="M11.59 7.41l3.58 3.59h-14.17v2h14.17l-3.59 3.59 1.42 1.41 6-6-6-6-1.41 1.41zm8.41-1.41v12h2v-12h-2z"/>
            </g>
            <g id="keyboard-voice">
                <path d="M12 15c1.66 0 2.99-1.34 2.99-3l.01-6c0-1.66-1.34-3-3-3s-3 1.34-3 3v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1s-5.3-2.1-5.3-5.1h-1.7c0 3.42 2.72 6.23 6 6.72v3.28h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/>
            </g>
            <g id="laptop">
                <path d="M20 18c1.1 0 2-.9 2-2v-10c0-1.1-.9-2-2-2h-16c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h-4v2h24v-2h-4zm-16-12h16v10h-16v-10z"/>
            </g>
            <g id="laptop-chromebook">
                <path d="M22 18v-15h-20v15h-2v2h24v-2h-2zm-8 0h-4v-1h4v1zm6-3h-16v-10h16v10z"/>
            </g>
            <g id="laptop-mac">
                <path d="M20 18c1.1 0 1.99-.9 1.99-2l.01-11c0-1.1-.9-2-2-2h-16c-1.1 0-2 .9-2 2v11c0 1.1.9 2 2 2h-4c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2h-4zm-16-13h16v11h-16v-11zm8 14c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"/>
            </g>
            <g id="laptop-windows">
                <path d="M20 18v-1c1.1 0 1.99-.9 1.99-2l.01-10c0-1.1-.9-2-2-2h-16c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2v1h-4v2h24v-2h-4zm-16-13h16v10h-16v-10z"/>
            </g>
            <g id="memory">
                <path d="M15 9h-6v6h6v-6zm-2 4h-2v-2h2v2zm8-2v-2h-2v-2c0-1.1-.9-2-2-2h-2v-2h-2v2h-2v-2h-2v2h-2c-1.1 0-2 .9-2 2v2h-2v2h2v2h-2v2h2v2c0 1.1.9 2 2 2h2v2h2v-2h2v2h2v-2h2c1.1 0 2-.9 2-2v-2h2v-2h-2v-2h2zm-4 6h-10v-10h10v10z"/>
            </g>
            <g id="mouse">
                <path d="M13 1.07v7.93h7c0-4.08-3.05-7.44-7-7.93zm-9 13.93c0 4.42 3.58 8 8 8s8-3.58 8-8v-4h-16v4zm7-13.93c-3.95.49-7 3.85-7 7.93h7v-7.93z"/>
            </g>
            <g id="phone-android">
                <path d="M16 1h-8c-1.66 0-3 1.34-3 3v16c0 1.66 1.34 3 3 3h8c1.66 0 3-1.34 3-3v-16c0-1.66-1.34-3-3-3zm-2 20h-4v-1h4v1zm3.25-3h-10.5v-14h10.5v14z"/>
            </g>
            <g id="phone-iphone">
                <path d="M15.5 1h-8c-1.38 0-2.5 1.12-2.5 2.5v17c0 1.38 1.12 2.5 2.5 2.5h8c1.38 0 2.5-1.12 2.5-2.5v-17c0-1.38-1.12-2.5-2.5-2.5zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4h-9v-14h9v14z"/>
            </g>
            <g id="phonelink">
                <path d="M4 6h18v-2h-18c-1.1 0-2 .9-2 2v11h-2v3h14v-3h-10v-11zm19 2h-6c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-10c0-.55-.45-1-1-1zm-1 9h-4v-7h4v7z"/>
            </g>
            <g id="phonelink-off">
                <path d="M22 6v-2h-15.18l2 2h13.18zm-20.08-4.35l-1.27 1.27 1.82 1.82c-.29.34-.47.78-.47 1.26v11h-2v3h17.73l2.35 2.35 1.27-1.27-17.46-17.46-1.97-1.97zm2.08 4.62l10.73 10.73h-10.73v-10.73zm19 1.73h-6c-.55 0-1 .45-1 1v4.18l2 2v-5.18h4v7h-2.18l3 3h.18c.55 0 1-.45 1-1v-10c0-.55-.45-1-1-1z"/>
            </g>
            <g id="security">
                <path d="M12 1l-9 4v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12v-6l-9-4zm0 10.99h7c-.53 4.12-3.28 7.79-7 8.94v-8.93h-7v-5.7l7-3.11v8.8z"/>
            </g>
            <g id="sim-card">
                <path d="M19.99 4c0-1.1-.89-2-1.99-2h-8l-6 6v12c0 1.1.9 2 2 2h12.01c1.1 0 1.99-.9 1.99-2l-.01-16zm-10.99 15h-2v-2h2v2zm8 0h-2v-2h2v2zm-8-4h-2v-4h2v4zm4 4h-2v-4h2v4zm0-6h-2v-2h2v2zm4 2h-2v-4h2v4z"/>
            </g>
            <g id="smartphone">
                <path d="M17 1.01l-10-.01c-1.1 0-2 .9-2 2v18c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2v-18c0-1.1-.9-1.99-2-1.99zm0 17.99h-10v-14h10v14z"/>
            </g>
            <g id="speaker">
                <path d="M17 2h-10c-1.1 0-2 .9-2 2v16c0 1.1.9 1.99 2 1.99l10 .01c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm-5 2c1.1 0 2 .9 2 2s-.9 2-2 2c-1.11 0-2-.9-2-2s.89-2 2-2zm0 16c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
            </g>
            <g id="tablet">
                <path d="M21 4h-18c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h18c1.1 0 1.99-.9 1.99-2l.01-12c0-1.1-.9-2-2-2zm-2 14h-14v-12h14v12z"/>
            </g>
            <g id="tablet-android">
                <path d="M18 0h-12c-1.66 0-3 1.34-3 3v18c0 1.66 1.34 3 3 3h12c1.66 0 3-1.34 3-3v-18c0-1.66-1.34-3-3-3zm-4 22h-4v-1h4v1zm5.25-3h-14.5v-16h14.5v16z"/>
            </g>
            <g id="tablet-mac">
                <path d="M18.5 0h-14c-1.38 0-2.5 1.12-2.5 2.5v19c0 1.38 1.12 2.5 2.5 2.5h14c1.38 0 2.5-1.12 2.5-2.5v-19c0-1.38-1.12-2.5-2.5-2.5zm-7 23c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm7.5-4h-15v-16h15v16z"/>
            </g>
            <g id="tv">
                <path d="M21 3h-18c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h5v2h8v-2h5c1.1 0 1.99-.9 1.99-2l.01-12c0-1.1-.9-2-2-2zm0 14h-18v-12h18v12z"/>
            </g>
            <g id="watch">
                <path d="M20 12c0-2.54-1.19-4.81-3.04-6.27l-.96-5.73h-8l-.95 5.73c-1.86 1.46-3.05 3.72-3.05 6.27s1.19 4.81 3.05 6.27l.95 5.73h8l.96-5.73c1.85-1.46 3.04-3.73 3.04-6.27zm-14 0c0-3.31 2.69-6 6-6s6 2.69 6 6-2.69 6-6 6-6-2.69-6-6z"/>
            </g>
        </defs>
    </svg>
</core-iconset-svg>
