<!--
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-iconset-svg/core-iconset-svg.html">
<core-iconset-svg id="image" iconSize="24">
    <svg>
        <defs>
            <g id="add-to-photos">
                <path d="M4 6h-2v14c0 1.1.9 2 2 2h14v-2h-14v-14zm16-4h-12c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm-1 9h-4v4h-2v-4h-4v-2h4v-4h2v4h4v2z"/>
            </g>
            <g id="adjust">
                <path d="M12 2c-5.51 0-10 4.49-10 10s4.49 10 10 10 10-4.49 10-10-4.49-10-10-10zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3-8c0 1.66-1.34 3-3 3s-3-1.34-3-3 1.34-3 3-3 3 1.34 3 3z"/>
            </g>
            <g id="assistant-photo">
                <path d="M14.4 6l-.4-2h-9v17h2v-7h5.6l.4 2h7v-10z"/>
            </g>
            <g id="audiotrack">
                <path d="M12 3v9.28c-.47-.17-.97-.28-1.5-.28-2.49 0-4.5 2.01-4.5 4.5s2.01 4.5 4.5 4.5c2.31 0 4.2-1.75 4.45-4h.05v-11h4v-3h-7z"/>
            </g>
            <g id="blur-circular">
                <path d="M10 9c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm0 4c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm-3-3.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm3 7c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-3-3c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm3-6c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm4 1.5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm0-1.5c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm3 6c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm0-4c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-5-7.5c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm2-3.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm0-3.5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z"/>
            </g>
            <g id="blur-linear">
                <path d="M5 17.5c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5zm4-4.5c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0-4c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm-6 12h18v-2h-18v2zm2-11.5c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5zm0 4c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5zm4 3.5c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm8-.5c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm-14-13.5v2h18v-2h-18zm14 5.5c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm0 4c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm-4-3.5c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 4c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 4c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1z"/>
            </g>
            <g id="blur-off">
                <path d="M14 7c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm-.2 4.48l.2.02c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5l.02.2c.09.67.61 1.19 1.28 1.28zm.2-7.98c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm-4 0c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm11 7c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm-11-3.5c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm8 8c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0-4c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0-4c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm-4 13.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-11.5-15.23l3.78 3.78-.28-.05c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1c0-.1-.03-.19-.06-.28l2.81 2.81c-.71.11-1.25.73-1.25 1.47 0 .83.67 1.5 1.5 1.5.74 0 1.36-.54 1.47-1.25l2.81 2.81c-.09-.03-.18-.06-.28-.06-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1c0-.1-.03-.19-.06-.28l3.78 3.78 1.28-1.27-16.23-16.23-1.27 1.27zm7.5 11.73c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm11-3.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-15-.5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm-3-3.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm7 11c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-4-3.5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm-3-3.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5z"/>
            </g>
            <g id="blur-on">
                <path d="M6 13c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm0 4c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm0-8c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm-3 .5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm3-4.5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm15 5.5c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm-7-3.5c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0-3.5c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm-11 10c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm7 7c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm0-17c.28 0 .5-.22.5-.5s-.22-.5-.5-.5-.5.22-.5.5.22.5.5.5zm0 3.5c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 5.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm8 .5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm0 4c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm0-8c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm0-4c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm3 8.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-7 3.5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm0 3.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-4-12c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0 8.5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm4-4.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-4c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5z"/>
            </g>
            <g id="brightness-1">
                <circle cx="12" cy="12" r="10"/>
            </g>
            <g id="brightness-2">
                <path d="M10 2c-1.82 0-3.53.5-5 1.35 2.99 1.73 5 4.95 5 8.65s-2.01 6.92-5 8.65c1.47.85 3.18 1.35 5 1.35 5.52 0 10-4.48 10-10s-4.48-10-10-10z"/>
            </g>
            <g id="brightness-3">
                <path d="M9 2c-1.05 0-2.05.16-3 .46 4.06 1.27 7 5.06 7 9.54 0 4.48-2.94 8.27-7 9.54.95.3 1.95.46 3 .46 5.52 0 10-4.48 10-10s-4.48-10-10-10z"/>
            </g>
            <g id="brightness-4">
                <path d="M20 8.69v-4.69h-4.69l-3.31-3.31-3.31 3.31h-4.69v4.69l-3.31 3.31 3.31 3.31v4.69h4.69l3.31 3.31 3.31-3.31h4.69v-4.69l3.31-3.31-3.31-3.31zm-8 9.31c-.89 0-1.74-.2-2.5-.55 2.06-.95 3.5-3.03 3.5-5.45s-1.44-4.5-3.5-5.45c.76-.35 1.61-.55 2.5-.55 3.31 0 6 2.69 6 6s-2.69 6-6 6z"/>
            </g>
            <g id="brightness-5">
                <path d="M20 15.31l3.31-3.31-3.31-3.31v-4.69h-4.69l-3.31-3.31-3.31 3.31h-4.69v4.69l-3.31 3.31 3.31 3.31v4.69h4.69l3.31 3.31 3.31-3.31h4.69v-4.69zm-8 2.69c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6z"/>
            </g>
            <g id="brightness-6">
                <path d="M20 15.31l3.31-3.31-3.31-3.31v-4.69h-4.69l-3.31-3.31-3.31 3.31h-4.69v4.69l-3.31 3.31 3.31 3.31v4.69h4.69l3.31 3.31 3.31-3.31h4.69v-4.69zm-8 2.69v-12c3.31 0 6 2.69 6 6s-2.69 6-6 6z"/>
            </g>
            <g id="brightness-7">
                <path d="M20 8.69v-4.69h-4.69l-3.31-3.31-3.31 3.31h-4.69v4.69l-3.31 3.31 3.31 3.31v4.69h4.69l3.31 3.31 3.31-3.31h4.69v-4.69l3.31-3.31-3.31-3.31zm-8 9.31c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm0-10c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z"/>
            </g>
            <g id="brush">
                <path d="M7 14c-1.66 0-3 1.34-3 3 0 1.31-1.16 2-2 2 .92 1.22 2.49 2 4 2 2.21 0 4-1.79 4-4 0-1.66-1.34-3-3-3zm13.71-9.37l-1.34-1.34c-.39-.39-1.02-.39-1.41 0l-8.96 8.96 2.75 2.75 8.96-8.96c.39-.39.39-1.02 0-1.41z"/>
            </g>
            <g id="camera">
                <path d="M9.4 10.5l4.77-8.26c-.7-.15-1.42-.24-2.17-.24-2.4 0-4.6.85-6.32 2.25l3.66 6.35.06-.1zm12.14-1.5c-.92-2.92-3.15-5.26-6-6.34l-3.66 6.34h9.66zm.26 1h-7.49l.29.5 4.76 8.25c1.64-1.78 2.64-4.14 2.64-6.75 0-.69-.07-1.35-.2-2zm-13.26 2l-3.9-6.75c-1.63 1.78-2.64 4.14-2.64 6.75 0 .69.07 1.35.2 2h7.49l-1.15-2zm-6.08 3c.92 2.92 3.15 5.26 6 6.34l3.66-6.34h-9.66zm11.27 0l-3.9 6.76c.7.15 1.42.24 2.17.24 2.4 0 4.6-.85 6.32-2.25l-3.66-6.35-.93 1.6z"/>
            </g>
            <g id="camera-alt">
                <circle cx="12" cy="12" r="3.2"/>
                <path d="M9 2l-1.83 2h-3.17c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2h-3.17l-1.83-2h-6zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
            </g>
            <g id="camera-front">
                <path d="M10 20h-5v2h5v2l3-3-3-3v2zm4 0v2h5v-2h-5zm-2-12c1.1 0 2-.9 2-2s-.9-2-2-2-1.99.9-1.99 2 .89 2 1.99 2zm5-8h-10c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-10 2h10v10.5c0-1.67-3.33-2.5-5-2.5s-5 .83-5 2.5v-10.5z"/>
            </g>
            <g id="camera-rear">
                <path d="M10 20h-5v2h5v2l3-3-3-3v2zm4 0v2h5v-2h-5zm3-20h-10c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-5 6c-1.11 0-2-.9-2-2s.89-2 1.99-2 2 .9 2 2c.01 1.1-.89 2-1.99 2z"/>
            </g>
            <g id="camera-roll">
                <path d="M14 5c0-1.1-.9-2-2-2h-1v-1c0-.55-.45-1-1-1h-4c-.55 0-1 .45-1 1v1h-1c-1.1 0-2 .9-2 2v15c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2h8v-15h-8zm-2 13h-2v-2h2v2zm0-9h-2v-2h2v2zm4 9h-2v-2h2v2zm0-9h-2v-2h2v2zm4 9h-2v-2h2v2zm0-9h-2v-2h2v2z"/>
            </g>
            <g id="center-focus-strong">
                <path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm-7 7h-2v4c0 1.1.9 2 2 2h4v-2h-4v-4zm0-10h4v-2h-4c-1.1 0-2 .9-2 2v4h2v-4zm14-2h-4v2h4v4h2v-4c0-1.1-.9-2-2-2zm0 16h-4v2h4c1.1 0 2-.9 2-2v-4h-2v4z"/>
            </g>
            <g id="center-focus-weak">
                <path d="M5 15h-2v4c0 1.1.9 2 2 2h4v-2h-4v-4zm0-10h4v-2h-4c-1.1 0-2 .9-2 2v4h2v-4zm14-2h-4v2h4v4h2v-4c0-1.1-.9-2-2-2zm0 16h-4v2h4c1.1 0 2-.9 2-2v-4h-2v4zm-7-11c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
            </g>
            <g id="collections">
                <path d="M22 16v-12c0-1.1-.9-2-2-2h-12c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2zm-11-4l2.03 2.71 2.97-3.71 4 5h-12l3-4zm-9-6v14c0 1.1.9 2 2 2h14v-2h-14v-14h-2z"/>
            </g>
            <g id="colorize">
                <path d="M20.71 5.63l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-3.12 3.12-1.93-1.91-1.41 1.41 1.42 1.42-8.92 8.92v4.75h4.75l8.92-8.92 1.42 1.42 1.41-1.41-1.92-1.92 3.12-3.12c.4-.4.4-1.03.01-1.42zm-13.79 13.37l-1.92-1.92 8.06-8.06 1.92 1.92-8.06 8.06z"/>
            </g>
            <g id="color-lens">
                <path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5h1.77c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3-4c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm5 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3 4c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
            </g>
            <g id="compare">
                <path d="M10 3h-5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h5v2h2v-22h-2v2zm0 15h-5l5-6v6zm9-15h-5v2h5v13l-5-6v9h5c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2z"/>
            </g>
            <g id="control-point">
                <path d="M13 7h-2v4h-4v2h4v4h2v-4h4v-2h-4v-4zm-1-5c-5.51 0-10 4.49-10 10s4.49 10 10 10 10-4.49 10-10-4.49-10-10-10zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
            </g>
            <g id="control-point-duplicate">
                <path d="M16 8h-2v3h-3v2h3v3h2v-3h3v-2h-3zm-14 4c0-2.79 1.64-5.2 4.01-6.32v-2.16c-3.49 1.24-6.01 4.57-6.01 8.48s2.52 7.24 6.01 8.48v-2.16c-2.37-1.12-4.01-3.53-4.01-6.32zm13-9c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9zm0 16c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7z"/>
            </g>
            <g id="crop-16-9">
                <path d="M19 6h-14c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-8c0-1.1-.9-2-2-2zm0 10h-14v-8h14v8z"/>
            </g>
            <g id="crop">
                <path d="M17 15h2v-8c0-1.1-.9-2-2-2h-8v2h8v8zm-10 2v-16h-2v4h-4v2h4v10c0 1.1.9 2 2 2h10v4h2v-4h4v-2h-16z"/>
            </g>
            <g id="crop-3-2">
                <path d="M19 4h-14c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 14h-14v-12h14v12z"/>
            </g>
            <g id="crop-5-4">
                <path d="M19 5h-14c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-10c0-1.1-.9-2-2-2zm0 12h-14v-10h14v10z"/>
            </g>
            <g id="crop-7-5">
                <path d="M19 7h-14c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-6c0-1.1-.9-2-2-2zm0 8h-14v-6h14v6z"/>
            </g>
            <g id="crop-din">
                <path d="M19 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14z"/>
            </g>
            <g id="crop-free">
                <path d="M3 5v4h2v-4h4v-2h-4c-1.1 0-2 .9-2 2zm2 10h-2v4c0 1.1.9 2 2 2h4v-2h-4v-4zm14 4h-4v2h4c1.1 0 2-.9 2-2v-4h-2v4zm0-16h-4v2h4v4h2v-4c0-1.1-.9-2-2-2z"/>
            </g>
            <g id="crop-landscape">
                <path d="M19 5h-14c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-10c0-1.1-.9-2-2-2zm0 12h-14v-10h14v10z"/>
            </g>
            <g id="crop-original">
                <path d="M19 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14zm-5.04-6.71l-2.75 3.54-1.96-2.36-2.75 3.53h11l-3.54-4.71z"/>
            </g>
            <g id="crop-portrait">
                <path d="M17 3h-10c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-10v-14h10v14z"/>
            </g>
            <g id="crop-square">
                <path d="M18 4h-12c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 14h-12v-12h12v12z"/>
            </g>
            <g id="dehaze">
                <path d="M2 15.5v2h20v-2h-20zm0-5v2h20v-2h-20zm0-5v2h20v-2h-20z"/>
            </g>
            <g id="details">
                <path d="M3 4l9 16 9-16h-18zm3.38 2h11.25l-5.63 10-5.62-10z"/>
            </g>
            <g id="edit">
                <path d="M3 17.25v3.75h3.75l11.06-11.06-3.75-3.75-11.06 11.06zm17.71-10.21c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
            </g>
            <g id="exposure">
                <path d="M15 17v2h2v-2h2v-2h-2v-2h-2v2h-2v2h2zm5-15h-16c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm-15 3h6v2h-6v-2zm15 15h-16l16-16v16z"/>
            </g>
            <g id="exposure-minus-1">
                <path d="M4 11v2h8v-2h-8zm15 7h-2v-10.62l-3 1.02v-1.7l4.7-1.7h.3v13z"/>
            </g>
            <g id="exposure-minus-2">
                <path d="M15.05 16.29l2.86-3.07c.38-.39.72-.79 1.04-1.18.32-.39.59-.78.82-1.17.23-.39.41-.78.54-1.17s.19-.79.19-1.18c0-.53-.09-1.02-.27-1.46-.18-.44-.44-.81-.78-1.11-.34-.31-.77-.54-1.26-.71-.51-.16-1.08-.24-1.72-.24-.69 0-1.31.11-1.85.32-.54.21-1 .51-1.36.88-.37.37-.65.8-.84 1.3-.18.47-.27.97-.28 1.5h2.14c.01-.31.05-.6.13-.87.09-.29.23-.54.4-.75.18-.21.41-.37.68-.49.27-.12.6-.18.96-.18.31 0 .58.05.81.15.23.1.43.25.59.43.16.18.28.4.37.65.08.25.13.52.13.81 0 .22-.03.43-.08.65-.06.22-.15.45-.29.7-.14.25-.32.53-.56.83-.23.3-.52.65-.88 1.03l-4.17 4.55v1.49h8.63v-1.71h-5.95zm-13.05-5.29v2h8v-2h-8z"/>
            </g>
            <g id="exposure-plus-1">
                <path d="M10 7h-2v4h-4v2h4v4h2v-4h4v-2h-4v-4zm10 11h-2v-10.62l-3 1.02v-1.7l4.7-1.7h.3v13z"/>
            </g>
            <g id="exposure-plus-2">
                <path d="M16.05 16.29l2.86-3.07c.38-.39.72-.79 1.04-1.18.32-.39.59-.78.82-1.17.23-.39.41-.78.54-1.17.13-.39.19-.79.19-1.18 0-.53-.09-1.02-.27-1.46-.18-.44-.44-.81-.78-1.11-.34-.31-.77-.54-1.26-.71-.51-.16-1.08-.24-1.72-.24-.69 0-1.31.11-1.85.32-.54.21-1 .51-1.36.88-.37.37-.65.8-.84 1.3-.18.47-.27.97-.28 1.5h2.14c.01-.31.05-.6.13-.87.09-.29.23-.54.4-.75.18-.21.41-.37.68-.49.27-.12.6-.18.96-.18.31 0 .58.05.81.15.23.1.43.25.59.43.16.18.28.4.37.65.08.25.13.52.13.81 0 .22-.03.43-.08.65-.06.22-.15.45-.29.7-.14.25-.32.53-.56.83-.23.3-.52.65-.88 1.03l-4.17 4.55v1.49h8.63v-1.71h-5.95zm-8.05-9.29h-2v4h-4v2h4v4h2v-4h4v-2h-4v-4z"/>
            </g>
            <g id="exposure-zero">
                <path d="M16.14 12.5c0 1-.1 1.85-.3 2.55-.2.7-.48 1.27-.83 1.7-.36.44-.79.75-1.3.95-.51.2-1.07.3-1.7.3-.62 0-1.18-.1-1.69-.3-.51-.2-.95-.51-1.31-.95-.36-.44-.65-1.01-.85-1.7-.2-.7-.3-1.55-.3-2.55v-2.04c0-1 .1-1.85.3-2.55.2-.7.48-1.26.84-1.69.36-.43.8-.74 1.31-.93.5-.19 1.07-.29 1.69-.29.63 0 1.19.1 1.7.29.51.19.95.5 1.31.93.36.43.64.99.84 1.69.2.7.3 1.54.3 2.55v2.04zm-2.11-2.36c0-.64-.05-1.18-.13-1.62-.09-.44-.22-.79-.4-1.06-.17-.27-.39-.46-.64-.58-.25-.13-.54-.19-.86-.19-.32 0-.61.06-.86.18s-.47.31-.64.58c-.17.27-.31.62-.4 1.06s-.13.98-.13 1.62v2.67c0 .64.05 1.18.14 1.62.09.45.23.81.4 1.09s.39.48.64.61.54.19.87.19c.33 0 .62-.06.87-.19s.46-.33.63-.61c.17-.28.3-.64.39-1.09.09-.45.13-.99.13-1.62v-2.66z"/>
            </g>
            <g id="filter-1">
                <path d="M3 5h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm11 10h2v-10h-4v2h2v8zm7-14h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14z"/>
            </g>
            <g id="filter-2">
                <path d="M3 5h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm18-4h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14zm-4-4h-4v-2h2c1.1 0 2-.89 2-2v-2c0-1.11-.9-2-2-2h-4v2h4v2h-2c-1.1 0-2 .89-2 2v4h6v-2z"/>
            </g>
            <g id="filter">
                <path d="M15.96 10.29l-2.75 3.54-1.96-2.36-2.75 3.53h11l-3.54-4.71zm-12.96-5.29h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm18-4h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14z"/>
            </g>
            <g id="filter-3">
                <path d="M21 1h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14zm-18-12h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm14 8v-1.5c0-.83-.67-1.5-1.5-1.5.83 0 1.5-.67 1.5-1.5v-1.5c0-1.11-.9-2-2-2h-4v2h4v2h-2v2h2v2h-4v2h4c1.1 0 2-.89 2-2z"/>
            </g>
            <g id="filter-4">
                <path d="M3 5h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm12 10h2v-10h-2v4h-2v-4h-2v6h4v4zm6-14h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14z"/>
            </g>
            <g id="filter-5">
                <path d="M21 1h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14zm-18-12h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm14 8v-2c0-1.11-.9-2-2-2h-2v-2h4v-2h-6v6h4v2h-4v2h4c1.1 0 2-.89 2-2z"/>
            </g>
            <g id="filter-6">
                <path d="M3 5h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm18-4h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14zm-8-2h2c1.1 0 2-.89 2-2v-2c0-1.11-.9-2-2-2h-2v-2h4v-2h-4c-1.1 0-2 .89-2 2v6c0 1.11.9 2 2 2zm0-4h2v2h-2v-2z"/>
            </g>
            <g id="filter-7">
                <path d="M3 5h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm18-4h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14zm-8-2l4-8v-2h-6v2h4l-4 8h2z"/>
            </g>
            <g id="filter-8">
                <path d="M3 5h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm18-4h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14zm-8-2h2c1.1 0 2-.89 2-2v-1.5c0-.83-.67-1.5-1.5-1.5.83 0 1.5-.67 1.5-1.5v-1.5c0-1.11-.9-2-2-2h-2c-1.1 0-2 .89-2 2v1.5c0 .83.67 1.5 1.5 1.5-.83 0-1.5.67-1.5 1.5v1.5c0 1.11.9 2 2 2zm0-8h2v2h-2v-2zm0 4h2v2h-2v-2z"/>
            </g>
            <g id="filter-9">
                <path d="M3 5h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm18-4h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14zm-6-12h-2c-1.1 0-2 .89-2 2v2c0 1.11.9 2 2 2h2v2h-4v2h4c1.1 0 2-.89 2-2v-6c0-1.11-.9-2-2-2zm0 4h-2v-2h2v2z"/>
            </g>
            <g id="filter-9-plus">
                <path d="M3 5h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm11 7v-4c0-1.11-.9-2-2-2h-1c-1.1 0-2 .89-2 2v1c0 1.11.9 2 2 2h1v1h-3v2h3c1.1 0 2-.89 2-2zm-3-3v-1h1v1h-1zm10-8h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 8h-2v-2h-2v2h-2v2h2v2h2v-2h2v6h-14v-14h14v6z"/>
            </g>
            <g id="filter-b-and-w">
                <path d="M19 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16l-7-8v8h-7l7-8v-6h7v14z"/>
            </g>
            <g id="filter-center-focus">
                <path d="M5 15h-2v4c0 1.1.9 2 2 2h4v-2h-4v-4zm0-10h4v-2h-4c-1.1 0-2 .9-2 2v4h2v-4zm14-2h-4v2h4v4h2v-4c0-1.1-.9-2-2-2zm0 16h-4v2h4c1.1 0 2-.9 2-2v-4h-2v4zm-7-10c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
            </g>
            <g id="filter-drama">
                <path d="M19.35 10.04c-.68-3.45-3.71-6.04-7.35-6.04-2.89 0-5.39 1.64-6.64 4.04-3.01.32-5.36 2.86-5.36 5.96 0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zm-.35 7.96h-13c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4h2c0-2.76-1.86-5.08-4.4-5.78 1.01-1.34 2.6-2.22 4.4-2.22 3.03 0 5.5 2.47 5.5 5.5v.5h1.5c1.65 0 3 1.35 3 3s-1.35 3-3 3z"/>
            </g>
            <g id="filter-frames">
                <path d="M20 4h-4l-4-4-4 4h-4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-16v-14h4.52l3.52-3.5 3.48 3.5h4.48v14zm-2-12h-12v10h12"/>
            </g>
            <g id="filter-hdr">
                <path d="M14 6l-3.75 5 2.85 3.8-1.6 1.2c-1.69-2.25-4.5-6-4.5-6l-6 8h22l-9-12z"/>
            </g>
            <g id="filter-none">
                <path d="M3 5h-2v16c0 1.1.9 2 2 2h16v-2h-16v-16zm18-4h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14z"/>
            </g>
            <g id="filter-retrolux">
                <path d="M13 16.43l6-9.43-7-7-7 7 6 9.43v.11c-.6-.35-1.29-.54-2-.54-2.21 0-4 1.79-4 4s1.79 4 4 4c1.85 0 3.41-1.26 3.86-2.96l2.97 2.96 1.42-1.41-4.25-4.25v-1.91zm-2 3.57c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2c.53 0 1.04.21 1.41.58l.59.59v.83z"/>
            </g>
            <g id="filter-tilt-shift">
                <path d="M11 4.07v-2.02c-2.01.2-3.84 1-5.32 2.21l1.42 1.43c1.11-.86 2.44-1.44 3.9-1.62zm7.32.19c-1.48-1.21-3.31-2.01-5.32-2.21v2.02c1.46.18 2.79.76 3.9 1.62l1.42-1.43zm1.61 6.74h2.02c-.2-2.01-1-3.84-2.21-5.32l-1.43 1.42c.86 1.11 1.44 2.44 1.62 3.9zm-14.24-3.9l-1.43-1.42c-1.21 1.48-2.01 3.31-2.21 5.32h2.02c.18-1.46.76-2.79 1.62-3.9zm-1.62 5.9h-2.02c.2 2.01 1 3.84 2.21 5.32l1.43-1.43c-.86-1.1-1.44-2.43-1.62-3.89zm10.93-1c0-1.66-1.34-3-3-3s-3 1.34-3 3 1.34 3 3 3 3-1.34 3-3zm3.31 4.9l1.43 1.43c1.21-1.48 2.01-3.32 2.21-5.32h-2.02c-.18 1.45-.76 2.78-1.62 3.89zm-5.31 3.03v2.02c2.01-.2 3.84-1 5.32-2.21l-1.43-1.43c-1.1.86-2.43 1.44-3.89 1.62zm-7.32-.19c1.48 1.21 3.32 2.01 5.32 2.21v-2.02c-1.46-.18-2.79-.76-3.9-1.62l-1.42 1.43z"/>
            </g>
            <g id="filter-vintage">
                <path d="M18.7 12.4c-.28-.16-.57-.29-.86-.4.29-.11.58-.24.86-.4 1.92-1.11 2.99-3.12 3-5.19-1.79-1.03-4.07-1.11-6 0-.28.16-.54.35-.78.54.05-.31.08-.63.08-.95 0-2.22-1.21-4.15-3-5.19-1.79 1.04-3 2.97-3 5.19 0 .32.03.64.08.95-.24-.2-.5-.39-.78-.55-1.92-1.11-4.2-1.03-6 0 0 2.07 1.07 4.08 3 5.19.28.16.57.29.86.4-.29.11-.58.24-.86.4-1.92 1.11-2.99 3.12-3 5.19 1.79 1.03 4.07 1.11 6 0 .28-.16.54-.35.78-.54-.05.32-.08.64-.08.96 0 2.22 1.21 4.15 3 5.19 1.79-1.04 3-2.97 3-5.19 0-.32-.03-.64-.08-.95.24.2.5.38.78.54 1.92 1.11 4.2 1.03 6 0-.01-2.07-1.08-4.08-3-5.19zm-6.7 3.6c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"/>
            </g>
            <g id="flare">
                <path d="M7 11h-6v2h6v-2zm2.17-3.24l-2.12-2.12-1.41 1.41 2.12 2.12 1.41-1.41zm3.83-6.76h-2v6h2v-6zm5.36 6.05l-1.41-1.41-2.12 2.12 1.41 1.41 2.12-2.12zm-1.36 3.95v2h6v-2h-6zm-5-2c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zm2.83 7.24l2.12 2.12 1.41-1.41-2.12-2.12-1.41 1.41zm-9.19.71l1.41 1.41 2.12-2.12-1.41-1.41-2.12 2.12zm5.36 6.05h2v-6h-2v6z"/>
            </g>
            <g id="flash-auto">
                <path d="M3 2v12h3v9l7-12h-4l4-9h-10zm16 0h-2l-3.2 9h1.9l.7-2h3.2l.7 2h1.9l-3.2-9zm-2.15 5.65l1.15-3.65 1.15 3.65h-2.3z"/>
            </g>
            <g id="flash-off">
                <path d="M3.27 3l-1.27 1.27 5 5v3.73h3v9l3.58-6.14 4.15 4.14 1.27-1.27-15.73-15.73zm13.73 7h-4l4-8h-10v2.18l8.46 8.46 1.54-2.64z"/>
            </g>
            <g id="flash-on">
                <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
            </g>
            <g id="flip">
                <path d="M15 21h2v-2h-2v2zm4-12h2v-2h-2v2zm-16-4v14c0 1.1.9 2 2 2h4v-2h-4v-14h4v-2h-4c-1.1 0-2 .9-2 2zm16-2v2h2c0-1.1-.9-2-2-2zm-8 20h2v-22h-2v22zm8-6h2v-2h-2v2zm-4-12h2v-2h-2v2zm4 8h2v-2h-2v2zm0 8c1.1 0 2-.9 2-2h-2v2z"/>
            </g>
            <g id="gradient">
                <path d="M11 9h2v2h-2zm-2 2h2v2h-2zm4 0h2v2h-2zm2-2h2v2h-2zm-8 0h2v2h-2zm12-6h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-10 15h-2v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2zm2-7h-2v2h2v2h-2v-2h-2v2h-2v-2h-2v2h-2v-2h-2v2h-2v-2h2v-2h-2v-6h14v6z"/>
            </g>
            <g id="grain">
                <path d="M10 12c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-4-4c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12-8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-4 8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm4-4c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-4-4c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-4-4c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
            </g>
            <g id="grid-off">
                <path d="M8 4v1.45l2 2v-3.45h4v4h-3.45l2 2h1.45v1.45l2 2v-3.45h4v4h-3.45l2 2h1.45v1.45l2 2v-15.45c0-1.1-.9-2-2-2h-15.45l2 2h1.45zm8 0h4v4h-4v-4zm-14.73-2.73l-1.27 1.28 2 2v15.45c0 1.1.9 2 2 2h15.46l2 2 1.27-1.27-21.46-21.46zm8.73 11.28l1.45 1.45h-1.45v-1.45zm-6-6l1.45 1.45h-1.45v-1.45zm4 13.45h-4v-4h4v4zm0-6h-4v-4h3.45l.55.55v3.45zm6 6h-4v-4h3.45l.55.54v3.46zm2 0v-1.46l1.46 1.46h-1.46z"/>
            </g>
            <g id="grid-on">
                <path d="M20 2h-16c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm-12 18h-4v-4h4v4zm0-6h-4v-4h4v4zm0-6h-4v-4h4v4zm6 12h-4v-4h4v4zm0-6h-4v-4h4v4zm0-6h-4v-4h4v4zm6 12h-4v-4h4v4zm0-6h-4v-4h4v4zm0-6h-4v-4h4v4z"/>
            </g>
            <g id="hdr-off">
                <path d="M18 17l-14.73-14.73-1.27 1.28 4 4v3.45h-2v-4h-2v10h2v-4h2v4h2v-7.45l1 1v6.45h4c.67 0 1.26-.33 1.62-.84l6.34 6.34 1.27-1.27-4.23-4.23zm-5-2h-2v-2.45l2 2v.45zm5-2h1l.82 3.27.73.73h1.45l-1.19-4.17c.7-.31 1.19-1.01 1.19-1.83v-2c0-1.1-.9-2-2-2h-4v5.45l2 2v-1.45zm0-4h2v2h-2v-2zm-3 2.45v-2.45c0-1.1-.9-2-2-2h-2.45l4.45 4.45z"/>
            </g>
            <g id="hdr-on">
                <path d="M6 11h-2v-4h-2v10h2v-4h2v4h2v-10h-2v4zm7-4h-4v10h4c1.1 0 2-.9 2-2v-6c0-1.1-.9-2-2-2zm0 8h-2v-6h2v6zm9-4v-2c0-1.1-.9-2-2-2h-4v10h2v-4h1l1 4h2l-1.19-4.17c.7-.31 1.19-1.01 1.19-1.83zm-2 0h-2v-2h2v2z"/>
            </g>
            <g id="hdr-plus-off">
                <path d="M9.5 5h1.5v2.45l2 2v-4.45h3.5c.83 0 1.5.67 1.5 1.5v3c0 .83-.67 1.5-1.5 1.5h-1.95l7.52 7.52c1.22-1.88 1.93-4.11 1.93-6.52 0-6.63-5.37-12-12-12-2.41 0-4.64.71-6.52 1.93l4.02 4.02v-.95zm0 9.5h-2v1h2v-1zm7-8h-2v3h2v-3zm-16-4.45l2.28 2.28c-1.74 2.07-2.78 4.75-2.78 7.67 0 6.63 5.37 12 12 12 2.92 0 5.6-1.04 7.68-2.78l2.28 2.28 1.27-1.27-21.46-21.46-1.27 1.28zm12.5 13.45h.96l2.54 2.55v.95h-1.5v-2h-2v-1.5zm-7-7.95l1.5 1.5v1.95h-1.5v-3.45zm0 5.45h3.5c.83 0 1.5.67 1.5 1.5v1c0 .62-.38 1.15-.91 1.38l.91 2.12h-1.5l-.86-2h-1.14v2h-1.5v-6z"/>
            </g>
            <g id="hdr-plus-on">
                <path d="M12 0c-6.63 0-12 5.37-12 12s5.37 12 12 12 12-5.37 12-12-5.37-12-12-12zm-1 15.5c0 .62-.37 1.15-.91 1.38l.91 2.12h-1.5l-.86-2h-1.14v2h-1.5v-6h3.5c.83 0 1.5.67 1.5 1.5v1zm0-4.5h-1.5v-2.5h-2v2.5h-1.5v-6h1.5v2h2v-2h1.5v6zm2-6h3.5c.83 0 1.5.67 1.5 1.5v3c0 .83-.67 1.5-1.5 1.5h-3.5v-6zm5.5 12h-2v2h-1.5v-2h-2v-1.5h2v-2h1.5v2h2v1.5zm-11-1.5h2v-1h-2v1zm9-9h-2v3h2v-3z"/>
            </g>
            <g id="hdr-strong">
                <path d="M17 6c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-12 2c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
            </g>
            <g id="hdr-weak">
                <path d="M5 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm12-2c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm0 10c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"/>
            </g>
            <g id="healing">
                <path d="M17.73 12.02l3.98-3.98c.39-.39.39-1.02 0-1.41l-4.34-4.34c-.39-.39-1.02-.39-1.41 0l-3.98 3.98-3.98-3.98c-.2-.19-.45-.29-.71-.29-.25 0-.51.1-.7.29l-4.34 4.34c-.39.39-.39 1.02 0 1.41l3.98 3.98-3.98 3.98c-.39.39-.39 1.02 0 1.41l4.34 4.34c.39.39 1.02.39 1.41 0l3.98-3.98 3.98 3.98c.2.2.45.29.71.29.26 0 .51-.1.71-.29l4.34-4.34c.39-.39.39-1.02 0-1.41l-3.99-3.98zm-5.73-3.02c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm-4.71 1.96l-3.63-3.62 3.63-3.63 3.62 3.62-3.62 3.63zm2.71 2.04c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm2 2c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm2-4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2.66 9.34l-3.63-3.62 3.63-3.63 3.62 3.62-3.62 3.63z"/>
            </g>
            <g id="image">
                <path d="M21 19v-14c0-1.1-.9-2-2-2h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zm-12.5-5.5l2.5 3.01 3.5-4.51 4.5 6h-14l3.5-4.5z"/>
            </g>
            <g id="image-aspect-ratio">
                <path d="M16 10h-2v2h2v-2zm0 4h-2v2h2v-2zm-8-4h-2v2h2v-2zm4 0h-2v2h2v-2zm8-6h-16c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 14h-16v-12h16v12z"/>
            </g>
            <g id="iso">
                <path d="M19 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-13.5 4.5h2v-2h1.5v2h2v1.5h-2v2h-1.5v-2h-2v-1.5zm13.5 11.5h-14l14-14v14zm-2-2v-1.5h-5v1.5h5z"/>
            </g>
            <g id="landscape">
                <path d="M14 6l-3.75 5 2.85 3.8-1.6 1.2c-1.69-2.25-4.5-6-4.5-6l-6 8h22l-9-12z"/>
            </g>
            <g id="leak-add">
                <path d="M6 3h-3v3c1.66 0 3-1.34 3-3zm8 0h-2c0 4.97-4.03 9-9 9v2c6.08 0 11-4.93 11-11zm-4 0h-2c0 2.76-2.24 5-5 5v2c3.87 0 7-3.13 7-7zm0 18h2c0-4.97 4.03-9 9-9v-2c-6.07 0-11 4.93-11 11zm8 0h3v-3c-1.66 0-3 1.34-3 3zm-4 0h2c0-2.76 2.24-5 5-5v-2c-3.87 0-7 3.13-7 7z"/>
            </g>
            <g id="leak-remove">
                <path d="M10 3h-2c0 .37-.04.72-.12 1.06l1.59 1.59c.34-.81.53-1.71.53-2.65zm-7 1.27l2.84 2.84c-.81.56-1.78.89-2.84.89v2c1.61 0 3.09-.55 4.27-1.46l1.43 1.43c-1.56 1.27-3.54 2.03-5.7 2.03v2c2.71 0 5.19-.99 7.11-2.62l2.5 2.5c-1.62 1.93-2.61 4.41-2.61 7.12h2c0-2.16.76-4.14 2.03-5.69l1.43 1.43c-.91 1.17-1.46 2.65-1.46 4.26h2c0-1.06.33-2.03.89-2.84l2.84 2.84 1.27-1.27-16.73-16.73-1.27 1.27zm11-1.27h-2c0 1.5-.37 2.91-1.02 4.16l1.46 1.46c.98-1.64 1.56-3.56 1.56-5.62zm5.94 13.12c.34-.08.69-.12 1.06-.12v-2c-.94 0-1.84.19-2.66.52l1.6 1.6zm-4.56-4.56l1.46 1.46c1.25-.65 2.66-1.02 4.16-1.02v-2c-2.06 0-3.98.58-5.62 1.56z"/>
            </g>
            <g id="lens">
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2z"/>
            </g>
            <g id="looks">
                <path d="M12 10c-3.86 0-7 3.14-7 7h2c0-2.76 2.24-5 5-5s5 2.24 5 5h2c0-3.86-3.14-7-7-7zm0-4c-6.07 0-11 4.93-11 11h2c0-4.96 4.04-9 9-9s9 4.04 9 9h2c0-6.07-4.93-11-11-11z"/>
            </g>
            <g id="looks-3">
                <path d="M19.01 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-4 7.5c0 .83-.67 1.5-1.5 1.5.83 0 1.5.67 1.5 1.5v1.5c0 1.11-.9 2-2 2h-4v-2h4v-2h-2v-2h2v-2h-4v-2h4c1.1 0 2 .89 2 2v1.5z"/>
            </g>
            <g id="looks-4">
                <path d="M19 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-4 14h-2v-4h-4v-6h2v4h2v-4h2v10z"/>
            </g>
            <g id="looks-5">
                <path d="M19 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-4 6h-4v2h2c1.1 0 2 .89 2 2v2c0 1.11-.9 2-2 2h-4v-2h4v-2h-4v-6h6v2z"/>
            </g>
            <g id="looks-6">
                <path d="M11 15h2v-2h-2v2zm8-12h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-4 6h-4v2h2c1.1 0 2 .89 2 2v2c0 1.11-.9 2-2 2h-2c-1.1 0-2-.89-2-2v-6c0-1.11.9-2 2-2h4v2z"/>
            </g>
            <g id="looks-one">
                <path d="M19 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-5 14h-2v-8h-2v-2h4v10z"/>
            </g>
            <g id="looks-two">
                <path d="M19 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-4 8c0 1.11-.9 2-2 2h-2v2h4v2h-6v-4c0-1.11.9-2 2-2h2v-2h-4v-2h4c1.1 0 2 .89 2 2v2z"/>
            </g>
            <g id="loupe">
                <path d="M13 7h-2v4h-4v2h4v4h2v-4h4v-2h-4v-4zm-1-5c-5.51 0-10 4.49-10 10s4.49 10 10 10h8c1.1 0 2-.9 2-2v-8c0-5.51-4.49-10-10-10zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
            </g>
            <g id="movie-creation">
                <path d="M18 4l2 4h-3l-2-4h-2l2 4h-3l-2-4h-2l2 4h-3l-2-4h-1c-1.1 0-1.99.9-1.99 2l-.01 12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-14h-4z"/>
            </g>
            <g id="nature">
                <path d="M13 16.12c3.47-.41 6.17-3.36 6.17-6.95 0-3.87-3.13-7-7-7s-7 3.13-7 7c0 3.47 2.52 6.34 5.83 6.89v3.94h-6v2h14v-2h-6v-3.88z"/>
            </g>
            <g id="nature-people">
                <path d="M22.17 9.17c0-3.87-3.13-7-7-7s-7 3.13-7 7c0 3.47 2.52 6.34 5.83 6.89v3.94h-8v-3h1v-4c0-.55-.45-1-1-1h-3c-.55 0-1 .45-1 1v4h1v5h16v-2h-3v-3.88c3.47-.41 6.17-3.36 6.17-6.95zm-17.67 1.83c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5z"/>
            </g>
            <g id="navigate-before">
                <path d="M15.41 7.41l-1.41-1.41-6 6 6 6 1.41-1.41-4.58-4.59z"/>
            </g>
            <g id="navigate-next">
                <path d="M10 6l-1.41 1.41 4.58 4.59-4.58 4.59 1.41 1.41 6-6z"/>
            </g>
            <g id="palette">
                <path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5h1.77c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3-4c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm5 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3 4c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
            </g>
            <g id="panorama">
                <path d="M23 18v-12c0-1.1-.9-2-2-2h-18c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2zm-14.5-5.5l2.5 3.01 3.5-4.51 4.5 6h-14l3.5-4.5z"/>
            </g>
            <g id="panorama-fisheye">
                <path d="M12 2c-5.53 0-10 4.47-10 10s4.47 10 10 10 10-4.47 10-10-4.47-10-10-10zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
            </g>
            <g id="panorama-horizontal">
                <path d="M20 6.54v10.91c-2.6-.77-5.28-1.16-8-1.16-2.72 0-5.4.39-8 1.16v-10.91c2.6.77 5.28 1.16 8 1.16 2.72.01 5.4-.38 8-1.16m1.43-2.54c-.1 0-.2.02-.31.06-2.94 1.1-6.03 1.64-9.12 1.64-3.09 0-6.18-.55-9.12-1.64-.11-.04-.22-.06-.31-.06-.34 0-.57.23-.57.63v14.75c0 .39.23.62.57.62.1 0 .2-.02.31-.06 2.94-1.1 6.03-1.64 9.12-1.64 3.09 0 6.18.55 9.12 1.64.11.04.21.06.31.06.33 0 .57-.23.57-.63v-14.74c0-.4-.24-.63-.57-.63z"/>
            </g>
            <g id="panorama-vertical">
                <path d="M19.94 21.12c-1.1-2.94-1.64-6.03-1.64-9.12 0-3.09.55-6.18 1.64-9.12.04-.11.06-.22.06-.31 0-.34-.23-.57-.63-.57h-14.74c-.4 0-.63.23-.63.57 0 .1.02.2.06.31 1.1 2.94 1.65 6.03 1.65 9.12 0 3.09-.55 6.18-1.64 9.12-.05.11-.07.22-.07.31 0 .33.23.57.63.57h14.75c.39 0 .63-.24.63-.57-.01-.1-.03-.2-.07-.31zm-13.4-1.12c.77-2.6 1.16-5.28 1.16-8 0-2.72-.39-5.4-1.16-8h10.91c-.77 2.6-1.16 5.28-1.16 8 0 2.72.39 5.4 1.16 8h-10.91z"/>
            </g>
            <g id="panorama-wide-angle">
                <path d="M12 6c2.45 0 4.71.2 7.29.64.47 1.78.71 3.58.71 5.36 0 1.78-.24 3.58-.71 5.36-2.58.44-4.84.64-7.29.64s-4.71-.2-7.29-.64c-.47-1.78-.71-3.58-.71-5.36 0-1.78.24-3.58.71-5.36 2.58-.44 4.84-.64 7.29-.64m0-2c-2.73 0-5.22.24-7.95.72l-.93.16-.25.9c-.58 2.07-.87 4.15-.87 6.22s.29 4.15.87 6.22l.25.89.93.16c2.73.49 5.22.73 7.95.73s5.22-.24 7.95-.72l.93-.16.25-.89c.58-2.08.87-4.16.87-6.23s-.29-4.15-.87-6.22l-.25-.89-.93-.16c-2.73-.49-5.22-.73-7.95-.73z"/>
            </g>
            <g id="photo">
                <path d="M21 19v-14c0-1.1-.9-2-2-2h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zm-12.5-5.5l2.5 3.01 3.5-4.51 4.5 6h-14l3.5-4.5z"/>
            </g>
            <g id="photo-album">
                <path d="M18 2h-12c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm-12 2h5v8l-2.5-1.5-2.5 1.5v-8zm0 15l3-3.86 2.14 2.58 3-3.86 3.86 5.14h-12z"/>
            </g>
            <g id="photo-camera">
                <circle cx="12" cy="12" r="3.2"/>
                <path d="M9 2l-1.83 2h-3.17c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2h-3.17l-1.83-2h-6zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
            </g>
            <g id="photo-library">
                <path d="M22 16v-12c0-1.1-.9-2-2-2h-12c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2zm-11-4l2.03 2.71 2.97-3.71 4 5h-12l3-4zm-9-6v14c0 1.1.9 2 2 2h14v-2h-14v-14h-2z"/>
            </g>
            <g id="photosphere">
                <path d="M22.07 7.59c-1.7-3.88-5.56-6.59-10.07-6.59s-8.37 2.71-10.07 6.59c-.65.28-1.3.58-1.93.91v7c.63.33 1.28.63 1.93.91 1.7 3.88 5.56 6.59 10.07 6.59s8.37-2.71 10.07-6.59c.65-.28 1.29-.58 1.93-.91v-7c-.63-.33-1.28-.63-1.93-.91zm-10.07-5.09c3.31 0 6.23 1.7 7.93 4.28-2.58-.85-5.25-1.28-7.93-1.28-2.68 0-5.35.43-7.93 1.28 1.7-2.58 4.62-4.28 7.93-4.28zm0 19c-3.31 0-6.23-1.7-7.93-4.28 2.58.85 5.25 1.28 7.93 1.28 2.68 0 5.35-.43 7.93-1.28-1.7 2.58-4.62 4.28-7.93 4.28zm10.5-6.92l-.29.13c-1.08.51-2.21.92-3.35 1.27l-3.86-4.42-3 3.44-4-5-4.38 5.47c-.62-.23-1.23-.47-1.83-.75l-.29-.14v-5.16l.29-.13c6.4-2.99 14.02-2.99 20.42 0l.29.13v5.16z"/>
            </g>
            <g id="portrait">
                <path d="M12 12.25c1.24 0 2.25-1.01 2.25-2.25s-1.01-2.25-2.25-2.25-2.25 1.01-2.25 2.25 1.01 2.25 2.25 2.25zm4.5 4c0-1.5-3-2.25-4.5-2.25s-4.5.75-4.5 2.25v.75h9v-.75zm2.5-13.25h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14z"/>
            </g>
            <g id="remove-red-eye">
                <path d="M12 4.5c-5 0-9.27 3.11-11 7.5 1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12.5c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
            </g>
            <g id="rotate-left">
                <path d="M7.11 8.53l-1.41-1.42c-.9 1.16-1.46 2.5-1.63 3.89h2.02c.14-.87.49-1.72 1.02-2.47zm-1.02 4.47h-2.02c.17 1.39.72 2.73 1.62 3.89l1.41-1.42c-.52-.75-.87-1.59-1.01-2.47zm1.01 5.32c1.16.9 2.51 1.44 3.9 1.61v-2.03c-.87-.15-1.71-.49-2.46-1.03l-1.44 1.45zm5.9-14.25v-3.07l-4.55 4.55 4.55 4.45v-3.91c2.84.48 5 2.94 5 5.91s-2.16 5.43-5 5.91v2.02c3.95-.49 7-3.85 7-7.93s-3.05-7.44-7-7.93z"/>
            </g>
            <g id="rotate-right">
                <path d="M15.55 5.55l-4.55-4.55v3.07c-3.94.49-7 3.85-7 7.93s3.05 7.44 7 7.93v-2.02c-2.84-.48-5-2.94-5-5.91s2.16-5.43 5-5.91v3.91l4.55-4.45zm4.38 5.45c-.17-1.39-.72-2.73-1.62-3.89l-1.42 1.42c.54.75.88 1.6 1.02 2.47h2.02zm-6.93 6.9v2.02c1.39-.17 2.74-.71 3.9-1.61l-1.44-1.44c-.75.54-1.59.89-2.46 1.03zm3.89-2.42l1.42 1.41c.9-1.16 1.45-2.5 1.62-3.89h-2.02c-.14.87-.48 1.72-1.02 2.48z"/>
            </g>
            <g id="slideshow">
                <path d="M10 8v8l5-4-5-4zm9-5h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-14h14v14z"/>
            </g>
            <g id="straighten">
                <path d="M21 6h-18c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2v-8c0-1.1-.9-2-2-2zm0 10h-18v-8h2v4h2v-4h2v4h2v-4h2v4h2v-4h2v4h2v-4h2v8z"/>
            </g>
            <g id="style">
                <path d="M2.53 19.65l1.34.56v-9.03l-2.43 5.86c-.41 1.02.08 2.19 1.09 2.61zm19.5-3.7l-4.96-11.97c-.31-.75-1.04-1.21-1.81-1.23-.26 0-.53.04-.79.15l-7.37 3.05c-.75.31-1.21 1.03-1.23 1.8-.01.27.04.54.15.8l4.96 11.97c.31.76 1.05 1.22 1.83 1.23.26 0 .52-.05.77-.15l7.36-3.05c1.02-.42 1.51-1.59 1.09-2.6zm-14.15-7.2c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-2 11c0 1.1.9 2 2 2h1.45l-3.45-8.34v6.34z"/>
            </g>
            <g id="switch-camera">
                <path d="M20 4h-3.17l-1.83-2h-6l-1.83 2h-3.17c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm-5 11.5v-2.5h-6v2.5l-3.5-3.5 3.5-3.5v2.5h6v-2.5l3.5 3.5-3.5 3.5z"/>
            </g>
            <g id="switch-video">
                <path d="M18 9.5v-3.5c0-.55-.45-1-1-1h-14c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-3.5l4 4v-13l-4 4zm-5 6v-2.5h-6v2.5l-3.5-3.5 3.5-3.5v2.5h6v-2.5l3.5 3.5-3.5 3.5z"/>
            </g>
            <g id="tag-faces">
                <path d="M11.99 2c-5.52 0-9.99 4.48-9.99 10s4.47 10 9.99 10c5.53 0 10.01-4.48 10.01-10s-4.48-10-10.01-10zm.01 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5h-10.22c.8 2.04 2.78 3.5 5.11 3.5z"/>
            </g>
            <g id="texture">
                <path d="M19.51 3.08l-16.43 16.43c.09.34.27.65.51.9.25.24.56.42.9.51l16.44-16.43c-.19-.69-.73-1.23-1.42-1.41zm-7.63-.08l-8.88 8.88v2.83l11.71-11.71h-2.83zm-6.88 0c-1.1 0-2 .9-2 2v2l4-4h-2zm14 18c.55 0 1.05-.22 1.41-.59.37-.36.59-.86.59-1.41v-2l-4 4h2zm-9.71 0h2.83l8.88-8.88v-2.83l-11.71 11.71z"/>
            </g>
            <g id="timelapse">
                <path d="M16.24 7.76c-1.17-1.17-2.7-1.76-4.24-1.76v6l-4.24 4.24c2.34 2.34 6.14 2.34 8.49 0 2.34-2.34 2.34-6.14-.01-8.48zm-4.24-5.76c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
            </g>
            <g id="timer-10">
                <path d="M0 7.72v1.68l3-1v9.6h2v-12h-.25l-4.75 1.72zm23.78 6.65c-.14-.28-.35-.53-.63-.74-.28-.21-.61-.39-1.01-.53s-.85-.27-1.35-.38c-.35-.07-.64-.15-.87-.23-.23-.08-.41-.16-.55-.25-.14-.09-.23-.19-.28-.3-.05-.11-.08-.24-.08-.39 0-.14.03-.28.09-.41.06-.13.15-.25.27-.34.12-.1.27-.18.45-.24s.4-.09.64-.09c.25 0 .47.04.66.11.19.07.35.17.48.29.13.12.22.26.29.42.06.16.1.32.1.49h1.95c0-.39-.08-.75-.24-1.09-.16-.34-.39-.63-.69-.88-.3-.25-.66-.44-1.09-.59-.43-.15-.92-.22-1.46-.22-.51 0-.98.07-1.39.21-.41.14-.77.33-1.06.57-.29.24-.51.52-.67.84-.16.32-.23.65-.23 1.01s.08.69.23.96c.15.28.36.52.64.73.27.21.6.38.98.53.38.14.81.26 1.27.36.39.08.71.17.95.26s.43.19.57.29c.13.1.22.22.27.34.05.12.07.25.07.39 0 .32-.13.57-.4.77-.27.2-.66.29-1.17.29-.22 0-.43-.02-.64-.08-.21-.05-.4-.13-.56-.24-.17-.11-.3-.26-.41-.44-.11-.18-.17-.41-.18-.67h-1.89c0 .36.08.71.24 1.05.16.34.39.65.7.93.31.27.69.49 1.15.66.46.17.98.25 1.58.25.53 0 1.01-.06 1.44-.19.43-.13.8-.31 1.11-.54.31-.23.54-.51.71-.83.17-.32.25-.67.25-1.06-.02-.4-.09-.74-.24-1.02zm-9.96-7.32c-.34-.4-.75-.7-1.23-.88-.47-.18-1.01-.27-1.59-.27-.58 0-1.11.09-1.59.27-.48.18-.89.47-1.23.88-.34.41-.6.93-.79 1.59-.18.65-.28 1.45-.28 2.39v1.92c0 .94.09 1.74.28 2.39.19.66.45 1.19.8 1.6.34.41.75.71 1.23.89.48.18 1.01.28 1.59.28.59 0 1.12-.09 1.59-.28.48-.18.88-.48 1.22-.89.34-.41.6-.94.78-1.6.18-.65.28-1.45.28-2.39v-1.92c0-.94-.09-1.74-.28-2.39-.18-.66-.44-1.19-.78-1.59zm-.92 6.17c0 .6-.04 1.11-.12 1.53-.08.42-.2.76-.36 1.02-.16.26-.36.45-.59.57-.23.12-.51.18-.82.18-.3 0-.58-.06-.82-.18s-.44-.31-.6-.57c-.16-.26-.29-.6-.38-1.02-.09-.42-.13-.93-.13-1.53v-2.5c0-.6.04-1.11.13-1.52.09-.41.21-.74.38-1 .16-.25.36-.43.6-.55.24-.11.51-.17.81-.17.31 0 .58.06.81.17.24.11.44.29.6.55.16.25.29.58.37.99.08.41.13.92.13 1.52v2.51z"/>
            </g>
            <g id="timer">
                <path d="M15 1h-6v2h6v-2zm-4 13h2v-6h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42c-1.55-1.24-3.5-1.98-5.62-1.98-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zm-7.03 12.61c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
            </g>
            <g id="timer-3">
                <path d="M11.61 12.97c-.16-.24-.36-.46-.62-.65-.25-.19-.56-.35-.93-.48.3-.14.57-.3.8-.5.23-.2.42-.41.57-.64.15-.23.27-.46.34-.71.08-.24.11-.49.11-.73 0-.55-.09-1.04-.28-1.46-.18-.42-.44-.77-.78-1.06-.33-.28-.73-.5-1.2-.64-.45-.13-.97-.2-1.53-.2-.55 0-1.06.08-1.52.24-.47.17-.87.4-1.2.69-.33.29-.6.63-.78 1.03-.2.39-.29.83-.29 1.29h1.98c0-.26.05-.49.14-.69.09-.2.22-.38.38-.52.17-.14.36-.25.58-.33.22-.08.46-.12.73-.12.61 0 1.06.16 1.36.47.3.31.44.75.44 1.32 0 .27-.04.52-.12.74-.08.22-.21.41-.38.57-.17.16-.38.28-.63.37-.25.09-.55.13-.89.13h-1.17v1.57h1.18c.34 0 .64.04.91.11.27.08.5.19.69.35.19.16.34.36.44.61.1.24.16.54.16.87 0 .62-.18 1.09-.53 1.42-.35.33-.84.49-1.45.49-.29 0-.56-.04-.8-.13-.24-.08-.44-.2-.61-.36-.17-.16-.3-.34-.39-.56-.09-.22-.14-.46-.14-.72h-1.99c0 .55.11 1.03.32 1.45.21.42.5.77.86 1.05s.77.49 1.24.63.96.21 1.48.21c.57 0 1.09-.08 1.58-.23.49-.15.91-.38 1.26-.68.36-.3.64-.66.84-1.1.2-.43.3-.93.3-1.48 0-.29-.04-.58-.11-.86-.08-.25-.19-.51-.35-.76zm9.26 1.4c-.14-.28-.35-.53-.63-.74-.28-.21-.61-.39-1.01-.53s-.85-.27-1.35-.38c-.35-.07-.64-.15-.87-.23-.23-.08-.41-.16-.55-.25-.14-.09-.23-.19-.28-.3-.05-.11-.08-.24-.08-.39s.03-.28.09-.41c.06-.13.15-.25.27-.34.12-.1.27-.18.45-.24s.4-.09.64-.09c.25 0 .47.04.66.11.19.07.35.17.48.29.13.12.22.26.29.42.06.16.1.32.1.49h1.95c0-.39-.08-.75-.24-1.09-.16-.34-.39-.63-.69-.88-.3-.25-.66-.44-1.09-.59-.43-.15-.92-.22-1.46-.22-.51 0-.98.07-1.39.21-.41.14-.77.33-1.06.57-.29.24-.51.52-.67.84-.16.32-.23.65-.23 1.01s.08.68.23.96c.15.28.37.52.64.73.27.21.6.38.98.53.38.14.81.26 1.27.36.39.08.71.17.95.26s.43.19.57.29c.13.1.22.22.27.34.05.12.07.25.07.39 0 .32-.13.57-.4.77-.27.2-.66.29-1.17.29-.22 0-.43-.02-.64-.08-.21-.05-.4-.13-.56-.24-.17-.11-.3-.26-.41-.44-.11-.18-.17-.41-.18-.67h-1.89c0 .36.08.71.24 1.05.16.34.39.65.7.93.31.27.69.49 1.15.66.46.17.98.25 1.58.25.53 0 1.01-.06 1.44-.19.43-.13.8-.31 1.11-.54.31-.23.54-.51.71-.83.17-.32.25-.67.25-1.06-.02-.4-.09-.74-.24-1.02z"/>
            </g>
            <g id="timer-auto">
                <path d="M12 4c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.67-5.33-4-8-4z"/>
            </g>
            <g id="timer-off">
                <path d="M19.04 4.55l-1.42 1.42c-1.55-1.23-3.5-1.97-5.62-1.97-1.83 0-3.53.55-4.95 1.48l1.46 1.46c1.02-.59 2.22-.94 3.49-.94 3.87 0 7 3.13 7 7 0 1.27-.35 2.47-.94 3.49l1.45 1.45c.94-1.41 1.49-3.11 1.49-4.94 0-2.12-.74-4.07-1.97-5.61l1.42-1.42-1.41-1.42zm-4.04-3.55h-6v2h6v-2zm-4 8.44l2 2v-3.44h-2v1.44zm-7.98-5.44l-1.27 1.27 2.75 2.76c-.95 1.42-1.5 3.13-1.5 4.97 0 4.97 4.02 9 9 9 1.84 0 3.55-.55 4.98-1.5l2.5 2.5 1.27-1.27-7.71-7.71-10.02-10.02zm8.98 16c-3.87 0-7-3.13-7-7 0-1.28.35-2.48.95-3.52l9.56 9.56c-1.03.61-2.23.96-3.51.96z"/>
            </g>
            <g id="tonality">
                <path d="M12 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm-1 17.93c-3.94-.49-7-3.85-7-7.93s3.05-7.44 7-7.93v15.86zm2-15.86c1.03.13 2 .45 2.87.93h-2.87v-.93zm0 2.93h5.24c.25.31.48.65.68 1h-5.92v-1zm0 3h6.74c.08.33.15.66.19 1h-6.93v-1zm0 9.93v-.93h2.87c-.87.48-1.84.8-2.87.93zm5.24-2.93h-5.24v-1h5.92c-.2.35-.43.69-.68 1zm1.5-3h-6.74v-1h6.93c-.04.34-.11.67-.19 1z"/>
            </g>
            <g id="transform">
                <path d="M22 18v-2h-14v-12h2l-3-3-3 3h2v2h-4v2h4v8c0 1.1.9 2 2 2h8v2h-2l3 3 3-3h-2v-2h4zm-12-10h6v6h2v-6c0-1.1-.9-2-2-2h-6v2z"/>
            </g>
            <g id="tune">
                <path d="M3 17v2h6v-2h-6zm0-12v2h10v-2h-10zm10 16v-2h8v-2h-8v-2h-2v6h2zm-6-12v2h-4v2h4v2h2v-6h-2zm14 4v-2h-10v2h10zm-6-4h2v-2h4v-2h-4v-2h-2v6z"/>
            </g>
            <g id="wb-auto">
                <path d="M6.85 12.65h2.3l-1.15-3.65-1.15 3.65zm15.15-5.65l-1.2 6.29-1.5-6.29h-1.6l-1.49 6.29-1.21-6.29h-.76c-1.47-1.83-3.71-3-6.24-3-4.42 0-8 3.58-8 8s3.58 8 8 8c3.13 0 5.84-1.81 7.15-4.43l.1.43h1.75l1.5-6.1 1.5 6.1h1.75l2.05-9h-1.8zm-11.7 9l-.7-2h-3.2l-.7 2h-1.9l3.2-9h2l3.2 9h-1.9z"/>
            </g>
            <g id="wb-cloudy">
                <path d="M19.36 10.04c-.69-3.45-3.72-6.04-7.36-6.04-2.89 0-5.4 1.64-6.65 4.04-3.01.32-5.35 2.87-5.35 5.96 0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.64-4.96z"/>
            </g>
            <g id="wb-incandescent">
                <path d="M3.55 18.54l1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8zm7.45 3.91h2v-2.95h-2v2.95zm-7-11.95h-3v2h3v-2zm11-4.19v-4.81h-6v4.81c-1.79 1.04-3 2.97-3 5.19 0 3.31 2.69 6 6 6s6-2.69 6-6c0-2.22-1.21-4.15-3-5.19zm5 4.19v2h3v-2h-3zm-2.76 7.66l1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4z"/>
            </g>
            <g id="wb-irradescent">
                <path d="M5 14.5h14v-6h-14v6zm6-13.95v2.95h2v-2.95h-2zm8.04 2.5l-1.79 1.79 1.41 1.41 1.8-1.79-1.42-1.41zm-6.04 19.4v-2.95h-2v2.95h2zm7.45-3.91l-1.8-1.79-1.41 1.41 1.79 1.8 1.42-1.42zm-16.9-14.08l1.79 1.79 1.41-1.41-1.79-1.79-1.41 1.41zm1.41 15.49l1.79-1.8-1.41-1.41-1.79 1.79 1.41 1.42z"/>
            </g>
            <g id="wb-sunny">
                <path d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zm-2.76 5.66h-3v2h3v-2zm9-9.95h-2v2.95h2v-2.95zm7.45 3.91l-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7l1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zm2.76-7.66v2h3v-2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2v-2.95h-2v2.95zm-7.45-3.91l1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z"/>
            </g>
        </defs>
    </svg>
</core-iconset-svg>
