<!--
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-iconset-svg/core-iconset-svg.html">
<core-iconset-svg id="maps" iconSize="24">
    <svg>
        <defs>
            <g id="beenhere">
                <path d="M19 1h-14c-1.1 0-1.99.9-1.99 2l-.01 12.93c0 .69.35 1.3.88 1.66l8.12 5.41 8.11-5.41c.53-.36.88-.97.88-1.66l.01-12.93c0-1.1-.9-2-2-2zm-9 15l-5-5 1.41-1.41 3.59 3.58 7.59-7.59 1.41 1.42-9 9z"/>
            </g>
            <g id="directions">
                <path d="M21.71 11.29l-9-9c-.39-.39-1.02-.39-1.41 0l-9 9c-.39.39-.39 1.02 0 1.41l9 9c.39.39 1.02.39 1.41 0l9-9c.39-.38.39-1.01 0-1.41zm-7.71 3.21v-2.5h-4v3h-2v-4c0-.55.45-1 1-1h5v-2.5l3.5 3.5-3.5 3.5z"/>
            </g>
            <g id="directions-bike">
                <path d="M16 4.8c.99 0 1.8-.81 1.8-1.8s-.81-1.8-1.8-1.8c-1 0-1.8.81-1.8 1.8s.8 1.8 1.8 1.8zm3 7.2c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0 8.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5zm-4.2-10.5h4.2v-1.8h-3.2l-1.93-3.27c-.3-.5-.84-.83-1.46-.83-.47 0-.89.19-1.2.5l-3.7 3.7c-.32.3-.51.73-.51 1.2 0 .63.33 1.16.85 1.47l3.35 2.03v5h1.8v-6.48l-2.25-1.67 2.32-2.33 1.73 2.48zm-9.8 2c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0 8.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
            </g>
            <g id="directions-bus">
                <path d="M4 16c0 .88.39 1.67 1 2.22v1.78c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h8v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1.78c.61-.55 1-1.34 1-2.22v-10c0-3.5-3.58-4-8-4s-8 .5-8 4v10zm3.5 1c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm9 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm1.5-6h-12v-5h12v5z"/>
            </g>
            <g id="directions-car">
                <path d="M18.92 6.01c-.2-.59-.76-1.01-1.42-1.01h-11c-.66 0-1.21.42-1.42 1.01l-2.08 5.99v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zm-12.42 9.99c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm-12.5-5l1.5-4.5h11l1.5 4.5h-14z"/>
            </g>
            <g id="directions-ferry">
                <path d="M20 21c-1.39 0-2.78-.47-4-1.32-2.44 1.71-5.56 1.71-8 0-1.22.85-2.61 1.32-4 1.32h-2v2h2c1.38 0 2.74-.35 4-.99 2.52 1.29 5.48 1.29 8 0 1.26.65 2.62.99 4 .99h2v-2h-2zm-16.05-2h.05c1.6 0 3.02-.88 4-2 .98 1.12 2.4 2 4 2s3.02-.88 4-2c.98 1.12 2.4 2 4 2h.05l1.89-6.68c.08-.26.06-.54-.06-.78s-.34-.42-.6-.5l-1.28-.42v-4.62c0-1.1-.9-2-2-2h-3v-3h-6v3h-3c-1.1 0-2 .9-2 2v4.62l-1.29.42c-.26.08-.48.26-.6.5s-.15.52-.06.78l1.9 6.68zm2.05-13h12v3.97l-6-1.97-6 1.97v-3.97z"/>
            </g>
            <g id="directions-subway">
                <path d="M12 2c-4.42 0-8 .5-8 4v9.5c0 1.93 1.57 3.5 3.5 3.5l-1.5 1.5v.5h12v-.5l-1.5-1.5c1.93 0 3.5-1.57 3.5-3.5v-9.5c0-3.5-3.58-4-8-4zm-4.5 15c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3.5-6h-5v-5h5v5zm5.5 6c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm1.5-6h-5v-5h5v5z"/>
            </g>
            <g id="directions-train">
                <path d="M4 15.5c0 1.93 1.57 3.5 3.5 3.5l-1.5 1.5v.5h12v-.5l-1.5-1.5c1.93 0 3.5-1.57 3.5-3.5v-10.5c0-3.5-3.58-4-8-4s-8 .5-8 4v10.5zm8 1.5c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-7h-12v-5h12v5z"/>
            </g>
            <g id="directions-transit">
                <path d="M12 2c-4.42 0-8 .5-8 4v9.5c0 1.93 1.57 3.5 3.5 3.5l-1.5 1.5v.5h12v-.5l-1.5-1.5c1.93 0 3.5-1.57 3.5-3.5v-9.5c0-3.5-3.58-4-8-4zm-4.5 15c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3.5-6h-5v-5h5v5zm5.5 6c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm1.5-6h-5v-5h5v5z"/>
            </g>
            <g id="directions-walk">
                <path d="M14 3.8c.99 0 1.8-.81 1.8-1.8 0-1-.81-1.8-1.8-1.8-1 0-1.8.81-1.8 1.8s.8 1.8 1.8 1.8zm.12 6.2h4.88v-1.8h-3.62l-2-3.33c-.3-.5-.84-.83-1.46-.83-.17 0-.34.03-.49.07l-5.43 1.69v5.2h1.8v-3.67l2.11-.66-3.91 15.33h1.8l2.87-8.11 2.33 3.11v5h1.8v-6.41l-2.49-4.54.73-2.87 1.08 1.82z"/>
            </g>
            <g id="earth">
                <path d="M12 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18.2c-1.12 0-2.19-.23-3.17-.64-.62-1.48-.61-2.64 1.12-2.06 0 0 3.92 1.52 8.04.08-1.49 1.61-3.62 2.62-5.99 2.62zm7.1-4.1c-.94.37-2.11 1-3.96 1-1.88 0-3.53-.75-5.58-1.4-1.86-.59-2.55-1.5-3.84-1.5-.66 0-.98.66-1.17 1.22-.47-1.04-.75-2.2-.75-3.42 0-.8.12-1.58.34-2.31 1.26-1.59 3.19-2.57 5.95-.43 0 0 6.23 4.67 9.79 4.97-.18.66-.45 1.29-.78 1.87zm-6.7-8.54c-2.8-2.65-5.1-1.91-6.09-1.46.75-.72 1.63-1.3 2.6-1.7 2.78-.1 5.91.44 7.65 2.91 0 0 2.42 4.18 3.29 2.34.22.74.34 1.53.34 2.34 0 .3-.02.59-.05.88-2.02-.22-4.81-2.54-7.74-5.31z"/>
            </g>
            <g id="explore-nearby">
                <path d="M12 7.2c-2.1 0-3.8 1.7-3.8 3.8 0 3 3.8 6.5 3.8 6.5s3.8-3.5 3.8-6.5c0-2.1-1.7-3.8-3.8-3.8zm0 5.3c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm0-10.5c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
            </g>
            <g id="flight">
                <path d="M10.18 9"/>
                <path d="M21 16v-2l-8-5v-5.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v5.5l-8 5v2l8-2.5v5.5l-2 1.5v1.5l3.5-1 3.5 1v-1.5l-2-1.5v-5.5l8 2.5z"/>
            </g>
            <g id="hotel">
                <path d="M7 13c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3zm12-6h-8v7h-8v-9h-2v15h2v-3h18v3h2v-9c0-2.21-1.79-4-4-4z"/>
            </g>
            <g id="layers">
                <path d="M11.99 18.54l-7.37-5.73-1.62 1.26 9 7 9-7-1.63-1.27-7.38 5.74zm.01-2.54l7.36-5.73 1.64-1.27-9-7-9 7 1.63 1.27 7.37 5.73z"/>
            </g>
            <g id="layers-clear">
                <path d="M19.81 14.99l1.19-.92-1.43-1.43-1.19.92 1.43 1.43zm-.45-4.72l1.64-1.27-9-7-2.91 2.27 7.87 7.88 2.4-1.88zm-16.09-9.27l-1.27 1.27 4.22 4.22-3.22 2.51 1.63 1.27 7.37 5.73 2.1-1.63 1.43 1.43-3.53 2.74-7.37-5.73-1.63 1.26 9 7 4.95-3.85 3.78 3.78 1.27-1.27-18.73-18.73z"/>
            </g>
            <g id="local-airport">
                <path d="M21 16v-2l-8-5v-5.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v5.5l-8 5v2l8-2.5v5.5l-2 1.5v1.5l3.5-1 3.5 1v-1.5l-2-1.5v-5.5l8 2.5z"/>
            </g>
            <g id="local-atm">
                <path d="M11 17h2v-1h1c.55 0 1-.45 1-1v-3c0-.55-.45-1-1-1h-3v-1h4v-2h-2v-1h-2v1h-1c-.55 0-1 .45-1 1v3c0 .55.45 1 1 1h3v1h-4v2h2v1zm9-13h-16c-1.11 0-1.99.89-1.99 2l-.01 12c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2v-12c0-1.11-.89-2-2-2zm0 14h-16v-12h16v12z"/>
            </g>
            <g id="local-attraction">
                <path d="M20 12c0-1.1.9-2 2-2v-4c0-1.1-.9-2-2-2h-16c-1.1 0-1.99.9-1.99 2v4c1.1 0 1.99.9 1.99 2s-.89 2-2 2v4c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-4c-1.1 0-2-.9-2-2zm-4.42 4.8l-3.58-2.3-3.58 2.3 1.08-4.12-3.29-2.69 4.24-.25 1.55-3.94 1.54 3.95 4.24.25-3.29 2.69 1.09 4.11z"/>
            </g>
            <g id="local-bar">
                <path d="M11 13v6h-5v2h12v-2h-5v-6l8-8v-2h-18v2l8 8zm-3.5-6l-2-2h13l-2 2h-9z"/>
            </g>
            <g id="local-cafe">
                <path d="M20 3h-16v10c0 2.21 1.79 4 4 4h6c2.21 0 4-1.79 4-4v-3h2c1.11 0 2-.89 2-2v-3c0-1.11-.89-2-2-2zm0 5h-2v-3h2v3zm-18 13h18v-2h-18v2z"/>
            </g>
            <g id="local-car-wash">
                <path d="M17 5c.83 0 1.5-.67 1.5-1.5 0-1-1.5-2.7-1.5-2.7s-1.5 1.7-1.5 2.7c0 .83.67 1.5 1.5 1.5zm-5 0c.83 0 1.5-.67 1.5-1.5 0-1-1.5-2.7-1.5-2.7s-1.5 1.7-1.5 2.7c0 .83.67 1.5 1.5 1.5zm-5 0c.83 0 1.5-.67 1.5-1.5 0-1-1.5-2.7-1.5-2.7s-1.5 1.7-1.5 2.7c0 .83.67 1.5 1.5 1.5zm11.92 3.01c-.2-.59-.76-1.01-1.42-1.01h-11c-.66 0-1.21.42-1.42 1.01l-2.08 5.99v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zm-12.42 9.99c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm-12.5-5l1.5-4.5h11l1.5 4.5h-14z"/>
            </g>
            <g id="local-convenience-store">
                <path d="M19 7v-3h-14v3h-3v13h8v-4h4v4h8v-13h-3zm-8 3h-2v1h2v1h-3v-3h2v-1h-2v-1h3v3zm5 2h-1v-2h-2v-3h1v2h1v-2h1v5z"/>
            </g>
            <g id="local-drink">
                <path d="M3 2l2.01 18.23c.12 1 .96 1.77 1.99 1.77h10c1.03 0 1.87-.77 1.99-1.77l2.01-18.23h-18zm9 17c-1.66 0-3-1.34-3-3 0-2 3-5.4 3-5.4s3 3.4 3 5.4c0 1.66-1.34 3-3 3zm6.33-11h-12.66l-.44-4h13.53l-.43 4z"/>
            </g>
            <g id="local-florist">
                <path d="M12 22c4.97 0 9-4.03 9-9-4.97 0-9 4.03-9 9zm-6.4-11.75c0 1.38 1.12 2.5 2.5 2.5.53 0 1.01-.16 1.42-.44l-.02.19c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5l-.02-.19c.4.28.89.44 1.42.44 1.38 0 2.5-1.12 2.5-2.5 0-1-.59-1.85-1.43-2.25.84-.4 1.43-1.25 1.43-2.25 0-1.38-1.12-2.5-2.5-2.5-.53 0-1.01.16-1.42.44l.02-.19c0-1.38-1.12-2.5-2.5-2.5s-2.5 1.12-2.5 2.5l.02.19c-.4-.28-.89-.44-1.42-.44-1.38 0-2.5 1.12-2.5 2.5 0 1 .59 1.85 1.43 2.25-.84.4-1.43 1.25-1.43 2.25zm6.4-4.75c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5zm-9 7.5c0 4.97 4.03 9 9 9 0-4.97-4.03-9-9-9z"/>
            </g>
            <g id="local-gas-station">
                <path d="M19.77 7.23l.01-.01-3.72-3.72-1.06 1.06 2.11 2.11c-.94.36-1.61 1.26-1.61 2.33 0 1.38 1.12 2.5 2.5 2.5.36 0 .69-.08 1-.21v7.21c0 .55-.45 1-1 1s-1-.45-1-1v-4.5c0-1.1-.9-2-2-2h-1v-7c0-1.1-.9-2-2-2h-6c-1.1 0-2 .9-2 2v16h10v-7.5h1.5v5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5v-9.5c0-.69-.28-1.32-.73-1.77zm-7.77 2.77h-6v-5h6v5zm6 0c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"/>
            </g>
            <g id="local-grocery-store">
                <path d="M7 18c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-6-16v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2h-11.58c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1h-14.79l-.94-2h-3.27zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
            </g>
            <g id="local-hospital">
                <path d="M19 3h-14c-1.1 0-1.99.9-1.99 2l-.01 14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-1 11h-4v4h-4v-4h-4v-4h4v-4h4v4h4v4z"/>
            </g>
            <g id="local-hotel">
                <path d="M7 13c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3zm12-6h-8v7h-8v-9h-2v15h2v-3h18v3h2v-9c0-2.21-1.79-4-4-4z"/>
            </g>
            <g id="local-laundry-service">
                <path d="M9.17 16.83c1.56 1.56 4.1 1.56 5.66 0 1.56-1.56 1.56-4.1 0-5.66l-5.66 5.66zm8.83-14.82l-12-.01c-1.11 0-2 .89-2 2v16c0 1.11.89 2 2 2h12c1.11 0 2-.89 2-2v-16c0-1.11-.89-1.99-2-1.99zm-8 1.99c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm-3 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm5 16c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6z"/>
            </g>
            <g id="local-library">
                <path d="M12 11.55c-2.36-2.2-5.52-3.55-9-3.55v11c3.48 0 6.64 1.35 9 3.55 2.36-2.19 5.52-3.55 9-3.55v-11c-3.48 0-6.64 1.35-9 3.55zm0-3.55c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3z"/>
            </g>
            <g id="local-mall">
                <path d="M19 6h-2c0-2.76-2.24-5-5-5s-5 2.24-5 5h-2c-1.1 0-1.99.9-1.99 2l-.01 12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm-7-3c1.66 0 3 1.34 3 3h-6c0-1.66 1.34-3 3-3zm0 10c-2.76 0-5-2.24-5-5h2c0 1.66 1.34 3 3 3s3-1.34 3-3h2c0 2.76-2.24 5-5 5z"/>
            </g>
            <g id="local-movies">
                <path d="M18 3v2h-2v-2h-8v2h-2v-2h-2v18h2v-2h2v2h8v-2h2v2h2v-18h-2zm-10 14h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2z"/>
            </g>
            <g id="local-offer">
                <path d="M21.41 11.58l-9-9c-.36-.36-.86-.58-1.41-.58h-7c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zm-15.91-4.58c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
            </g>
            <g id="local-parking">
                <path d="M13 3h-7v18h4v-6h3c3.31 0 6-2.69 6-6s-2.69-6-6-6zm.2 8h-3.2v-4h3.2c1.1 0 2 .9 2 2s-.9 2-2 2z"/>
            </g>
            <g id="local-pharmacy">
                <path d="M21 5h-2.64l1.14-3.14-2.35-.86-1.46 4h-12.69v2l2 6-2 6v2h18v-2l-2-6 2-6v-2zm-5 9h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2z"/>
            </g>
            <g id="local-phone">
                <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1v3.49c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
            </g>
            <g id="local-pizza">
                <path d="M12 2c-3.57 0-6.77 1.54-8.99 4l8.99 16 8.99-16c-2.21-2.45-5.42-4-8.99-4zm-5 5c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm5 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
            </g>
            <g id="local-play">
                <path d="M20 12c0-1.1.9-2 2-2v-4c0-1.1-.9-2-2-2h-16c-1.1 0-1.99.9-1.99 2v4c1.1 0 1.99.9 1.99 2s-.89 2-2 2v4c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-4c-1.1 0-2-.9-2-2zm-4.42 4.8l-3.58-2.3-3.58 2.3 1.08-4.12-3.29-2.69 4.24-.25 1.55-3.94 1.54 3.95 4.24.25-3.29 2.69 1.09 4.11z"/>
            </g>
            <g id="local-post-office">
                <path d="M20 4h-16c-1.1 0-1.99.9-1.99 2l-.01 12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 4l-8 5-8-5v-2l8 5 8-5v2z"/>
            </g>
            <g id="local-print-shop">
                <path d="M19 8h-14c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zm-3 11h-8v-5h8v5zm3-7c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1-9h-12v4h12v-4z"/>
            </g>
            <g id="local-restaurant">
                <path d="M8.1 13.34l2.83-2.83-7.02-7.01c-1.56 1.56-1.56 4.09 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27l-9.76 9.76 1.41 1.41 6.89-6.87 6.88 6.88 1.41-1.41-6.88-6.88 1.47-1.47z"/>
            </g>
            <g id="local-see">
                <circle cx="12" cy="12" r="3.2"/>
                <path d="M9 2l-1.83 2h-3.17c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2h-3.17l-1.83-2h-6zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
            </g>
            <g id="local-shipping">
                <path d="M20 8h-3v-4h-14c-1.1 0-2 .9-2 2v11h2c0 1.66 1.34 3 3 3s3-1.34 3-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3h2v-5l-3-4zm-14 10.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm13.5-9l1.96 2.5h-4.46v-2.5h2.5zm-1.5 9c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
            </g>
            <g id="local-taxi">
                <path d="M18.92 6.01c-.2-.59-.76-1.01-1.42-1.01h-2.5v-2h-6v2h-2.5c-.66 0-1.21.42-1.42 1.01l-2.08 5.99v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zm-12.42 9.99c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm-12.5-5l1.5-4.5h11l1.5 4.5h-14z"/>
            </g>
            <g id="location-history">
                <path d="M19 2h-14c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h4l3 3 3-3h4c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-7 3.3c1.49 0 2.7 1.21 2.7 2.7 0 1.49-1.21 2.7-2.7 2.7-1.49 0-2.7-1.21-2.7-2.7 0-1.49 1.21-2.7 2.7-2.7zm6 10.7h-12v-.9c0-2 4-3.1 6-3.1s6 1.1 6 3.1v.9z"/>
            </g>
            <g id="map">
                <path d="M20.5 3l-.16.03-5.34 2.07-6-2.1-5.64 1.9c-.21.07-.36.25-.36.48v15.12c0 .28.22.5.5.5l.16-.03 5.34-2.07 6 2.1 5.64-1.9c.21-.07.36-.25.36-.48v-15.12c0-.28-.22-.5-.5-.5zm-5.5 16l-6-2.11v-11.89l6 2.11v11.89z"/>
            </g>
            <g id="my-location">
                <path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94v-2.06h-2v2.06c-4.17.46-7.48 3.77-7.94 7.94h-2.06v2h2.06c.46 4.17 3.77 7.48 7.94 7.94v2.06h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94h2.06v-2h-2.06zm-8.94 8c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
            </g>
            <g id="navigation">
                <path d="M12 2l-7.5 18.29.71.71 6.79-3 6.79 3 .71-.71z"/>
            </g>
            <g id="pin-drop">
                <path d="M18 8c0-3.31-2.69-6-6-6s-6 2.69-6 6c0 4.5 6 11 6 11s6-6.5 6-11zm-8 0c0-1.1.9-2 2-2s2 .9 2 2-.89 2-2 2c-1.1 0-2-.9-2-2zm-5 12v2h14v-2h-14z"/>
            </g>
            <g id="place">
                <path d="M12 2c-3.87 0-7 3.13-7 7 0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
            </g>
            <g id="rate-review">
                <path d="M20 2h-16c-1.1 0-1.99.9-1.99 2l-.01 18 4-4h14c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm-14 12v-2.47l6.88-6.88c.2-.2.51-.2.71 0l1.77 1.77c.2.2.2.51 0 .71l-6.89 6.87h-2.47zm12 0h-7.5l2-2h5.5v2z"/>
            </g>
            <g id="restaurant-menu">
                <path d="M8.1 13.34l2.83-2.83-7.02-7.01c-1.56 1.56-1.56 4.09 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27l-9.76 9.76 1.41 1.41 6.89-6.87 6.88 6.88 1.41-1.41-6.88-6.88 1.47-1.47z"/>
            </g>
            <g id="satellite">
                <path d="M19 3h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-14 1.99h3c0 1.66-1.34 3.01-3 3.01v-3.01zm0 7.01v-2c2.76 0 5-2.25 5-5.01h2c0 3.87-3.13 7.01-7 7.01zm0 6l3.5-4.5 2.5 3.01 3.5-4.51 4.5 6h-14z"/>
            </g>
            <g id="store-mall-directory">
                <path d="M20 4h-16v2h16v-2zm1 10v-2l-1-5h-16l-1 5v2h1v6h10v-6h4v6h2v-6h1zm-9 4h-6v-4h6v4z"/>
            </g>
            <g id="terrain">
                <path d="M14 6l-3.75 5 2.85 3.8-1.6 1.2c-1.69-2.25-4.5-6-4.5-6l-6 8h22l-9-12z"/>
            </g>
            <g id="traffic">
                <path d="M20 10h-3v-1.14c1.72-.45 3-2 3-3.86h-3v-1c0-.55-.45-1-1-1h-8c-.55 0-1 .45-1 1v1h-3c0 1.86 1.28 3.41 3 3.86v1.14h-3c0 1.86 1.28 3.41 3 3.86v1.14h-3c0 1.86 1.28 3.41 3 3.86v1.14c0 .55.45 1 1 1h8c.55 0 1-.45 1-1v-1.14c1.72-.45 3-2 3-3.86h-3v-1.14c1.72-.45 3-2 3-3.86zm-8 9c-1.11 0-2-.9-2-2s.89-2 2-2c1.1 0 2 .9 2 2s-.89 2-2 2zm0-5c-1.11 0-2-.9-2-2s.89-2 2-2c1.1 0 2 .9 2 2s-.89 2-2 2zm0-5c-1.11 0-2-.9-2-2 0-1.11.89-2 2-2 1.1 0 2 .89 2 2 0 1.1-.89 2-2 2z"/>
            </g>
        </defs>
    </svg>
</core-iconset-svg>
