/*
 * @license
 * Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
 * This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
 * The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
 * The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
 * Code distributed by Google as part of the polymer project is also
 * subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
 */

html

/
deep

/
paper-shadow,
html

/
deep

/
paper-animated-shadow {
    display: block;
    position: relative;
}

html

/
deep

/
paper-shadow::shadow #shadow-bottom,
html

/
deep

/
paper-shadow::shadow #shadow-top {
    border-radius: inherit;
    pointer-events: none;
}

html

/
deep

/
paper-shadow::shadow #shadow-bottom[animated],
html

/
deep

/
paper-shadow::shadow #shadow-top[animated] {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

html

/
deep

/
.paper-shadow-top-z-1 {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

html

/
deep

/
.paper-shadow-bottom-z-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

html

/
deep

/
.paper-shadow-top-z-2 {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html

/
deep

/
.paper-shadow-bottom-z-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

html

/
deep

/
.paper-shadow-top-z-3 {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

html

/
deep

/
.paper-shadow-bottom-z-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

html

/
deep

/
.paper-shadow-top-z-4 {
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

html

/
deep

/
.paper-shadow-bottom-z-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

html

/
deep

/
.paper-shadow-top-z-5 {
    box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

html

/
deep

/
.paper-shadow-bottom-z-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}