<!doctype html>
<!--
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<html>
<head>
    <title>core-icon</title>
    <script src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="../core-icons/core-icons.html">
    <link rel="import" href="core-icon.html">

    <style>
        segment {
            min-width: 200px;
        }

        core-icon.big {
            height: 128px;
            width: 128px;
        }
    </style>
</head>
<body unresolved>

<template is="auto-binding">
    <div wrap horizontal layout>
        <template repeat="{{icon in $.meta.metaData.icons.iconNames}}">
            <segment>
                <core-icon icon="{{icon}}"></core-icon>
                {{icon}}
            </segment>
        </template>
    </div>
    <core-iconset id="meta"></core-iconset>
    <div hidden
    ?="{{!$.meta.metaData.icons.iconNames}}">
    Sized icon:
    <core-icon class="big" icon="accessibility"></core-icon>
    </div>
</template>

</body>
</html>
